/*Aside */

.priority1and2 {

	@include breakpoint(senior) { 
	float: right;
	width: 89%}
}

aside {
	margin-right: .9em;
	
	@include breakpoint(big-baby-sleep) { 
    float: none;
  	}
	/*on tablet and up, aside floats right*/
	@include breakpoint(teen-up) { 
		float: right;
		width:$smallratio;
		margin-bottom: $margin; 
		p {margin-top: 0;}
		} 
	}

.read aside {
	@include breakpoint(teen-up) { 
		margin-bottom: $margin; 
		padding-top: $margin;
		padding-left: $pagemargin;
		width:100%-$ratio;
		float: none;
		clear: both;
		display: block;
		} 
}


.priority3 {
	@include breakpoint(senior) { 
	float: left;
	width:10%}
}