/*Aside */
/*
.priority1and2 {
	@include breakpoint(senior) { 
	float: right;
	width: 89%}
}*/

/*if change this, change general-layout */
aside, #block-views-aside-block {
	overflow: hidden;
	padding-right: .9em;
	@include breakpoint(big-baby-sleep) { 
    float: none;
  	}
	/*on tablet and up, aside floats right*/
	@include breakpoint(teen-up) { 
		float: right;
		width:$smallratio;
		margin-bottom: $margin2;
		padding-right: $margin4; /*make sure aside lines up with alumni homepage banner and other full width elemnents*/
		p {margin-top: 0;}
		} 
	}

@if $drupal {
	/*if mobile, aside floats. otherwise clear right*/
	#block-views-aside-block {
		float: none;
		clear: both;
		@include breakpoint(teen-up) {
			clear: right;
		}
	} 	
}



/*aside is at bottom, not sidebar*/
.layout-full, .layout-full-read {
	#block-views-aside-block, aside.priority3 {
		@include breakpoint(teen-up) { 
			width:auto;
			float: none;
			clear: both;
			display: block;
		}
		@include breakpoint(adult) {
			padding-right: $margin2*2;
		}
	}	  
}


@if $drupal {
	/*no padding on article aside if layout-full-read*/
	.layout-full-read aside {
		@include breakpoint(adult) {
			padding-right: 0;
		}
	}
}

/*margin asigned at col-article level*/
.col-article,
.bleed .maincontent /*imodules */{
	aside {
		padding-right: 0;
	}
}



.read .priority1and2 aside,
.bleed .priority1and2 aside, /*iModules*/
.layout-full-read .field-name-body aside, /*drupal*/
.layout-read .field-name-body aside /*drupal*/{
	@include breakpoint(teen-up) { 
		margin-bottom: $margin2; 
		padding-top: $margin2;
		padding-left: $margin4;
		
	}
} 


.priority3, #block-views-aside-block {
	@include breakpoint(baby) {
		clear: left;
	}
	/*set image to width of priority3*/
	img {
		width: 100%;
	}
}

.layout-full .priority3,
.layout-full-read #block-views-aside-block,
.layout-full #block-views-aside-block 
/*if aside is below, add margin*/ 
{
	@include breakpoint (teen-up) {
		margin-top: $margin2;
	}
}


/*aside inside main content block needs that special formatting on phones to differentiate*/
@include breakpoint (baby) {
	.aside-callout {
		background: #ccc;
		padding: $margin2;
		margin-left: -$margin2;
		width: 108%;
	}
}