.menu-button-wrapper {
  min-width: 40px;
  @include breakpoint(teen-up)
  {
    margin-top: .5em;
  }
  @include breakpoint(adult) { 
    display: none;
  }
}

.toggle-menu-icon {
  width:100%; 
  }

.donate-wrapper {
  @include breakpoint (teen-up) {
    font-size: 1.1em;
    margin-top: .2em;
  }
  @include breakpoint (adult) {
    margin-top: .65em;
  }
}

.donate-button {
  font-size:.6em;
  text-align: center;
  height: 100%;
  padding: .6em;
  @include breakpoint(adult) { 
    padding: .4em .6em .3em;
    font-size: .7em;
  }
}


.action, .donate-button, .button  {
  border-radius: 1em;
  text-shadow:
    0px -1px 0px rgba(000,000,000,0),
    0px 1px 0px rgba(255,255,255,0);
   text-transform: uppercase; 
}

.donate-button  {
  @include linear-gradient(to bottom, #d91f28 0%, #de2831 29%, #94151b 100%, $fallback: #de2831);
  border: 1px solid #d91f28;
  box-shadow:
    3px 3px 3px rgba(000,000,000,0.5),
    inset -14px -12px 4px rgba(247,054,064,0);
}

.action, .button {
  @include linear-gradient(to bottom, $color4 0%, $color4 5%, $color3 100%, $fallback: $color3);
}



.header .donate-button:hover {
  @include linear-gradient($color4 0%, $color4 100%, $fallback: $color4);
  color: $color1;
}


.action-wrapper{
  text-align: center;
}
.action, .button {
  font-size: .8em;
  margin-bottom: $margin2;
  display: inline-block;
}

.action:hover, .button:hover {
  @include linear-gradient(to bottom, #d91f28 0%, #de2831 29%, #94151b 100%, $fallback: #de2831);
}

a.action:link, a.action:visited, .button {
    color: white;
    text-align: center;
    padding: .7em;
  }