/*the social media follow buttons are created through a 3rd party*/


.at4-follow {
  /*this adjusts those buttons and moves them to the left */
  right: 2.4rem;
  /*buttons scroll with page */
  position: absolute;
}

/*hides a carot which allows the social media buttons to be collapsed */
.at4-follow-close-control, .at4-show {
  display: none!important;
}