.group:after, 
.grid:after,
.header-main:after,
ul.nav:after
{
	content: "";
  display: table;
  clear: both;
}

@include breakpoint (adult) {
	.mainnav ul.extra ul:after
	{
		content: "";
	  display: table;
	  clear: both;
	}
}