.group:after, 
.grid:after,
.header-main:after,
ul.nav:after, .gridgroup1, .gridgroup2, .gridgroup3
{
	content: "";
  display: table;
  clear: both;
}

@include breakpoint (adult) {
	.mainnav ul.extra ul:after, .mainnav:after
	{
		content: "";
	  display: table;
	  clear: both;
	}
}