/*event details for alumni single event pages*/
@if $alumni {

  /*prevent too much space between event description and event details*/
  .single 
  {
    max-width: 1200px;
  }
  /*event details
  on small screen, centered
  on larger screen, floats right
  */
  .details {
    padding-top: $margin;
    text-align: center;
    h2 {
      font-size: 1em; /*font size the same as h3 and text*/
    }
    @include breakpoint (teen-up) {
      float: right;
      width:$smallratio;
      padding: $margin;
    }
  }
  .part {
    margin-bottom: 1em;
  }
  /*event description
  on small screen, centered - after details
  on larger screen, floats left
  */
  .description 
  {
    @include breakpoint (teen-up) {
      float: left;
      padding-right: $margin2;
      max-width: 100-$smallratio;
      @if $ie8 {
        max-width: 98-$smallratio; /*ensure floats*/
      }
      img {
        max-width: 250px;
        float: left;
        margin-right: $margin;
        @if $ie8 {
          width: 250px /*prevent image squish*/ 
        }
      }

    }
  }

}