/* ==========================================================================
   Embedded content
   ========================================================================== */

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Correct overflow displayed oddly in IE 9.
 */

svg:not(:root) {
    overflow: hidden;
}


/*responsive youtube embed*/
.video-container {
	position: relative;
	padding-bottom: 56.3%; /*16:9*/
	height: 0;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.iframe-portal {
		-webkit-overflow-scrolling: touch; /*iframes should scroll*/
	  overflow-y: scroll; /*iframes should scroll, but causes two scroll bars in ie10*/
	}
}

#content .iframe-portal iframe {
	padding-right: 0;
}

@if $alumni {
	.twitter-timeline /*Alumni Twitter Feed Embed */{
	  margin: 0 auto;
	  width: 100% !important; /*override iframe fixed-width*/
	}
}