/* ==========================================================================
   Figures
   ========================================================================== */

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure, div.media /*drupal uses div.media for figure*/ {
    margin: 0 0 $margin2;
    @include breakpoint(big-baby-sleep) { 
    margin: 0 auto $margin2;
    text-align: center;
  }
}

figure.fullimg, .media-fullimg /*drupal equivalent*/{
	clear:left;
}


.read, 
.bleed .priority1and2, /*Imodules*/
.layout-full-read, .layout-read {
	figure, div.media /*drupal uses div.media for figure*/ {
		@include breakpoint(teen) {
			margin-bottom: 0;
		}
	}
}
/*add bar before caption on .read */
.fullimg figcaption:before, 
.imgright figcaption:before,  
.field-name-field-caption:before /*drupal lead image*/,
.media-fullimg .field-name-field-image-caption:before /*drupal media*/,
.media-imgright .field-name-field-image-caption:before /*drupal media*/
{
	@include breakpoint(teen-up) {
		content: '';
		border-bottom: .4em solid $color3;
		margin-top: $margin2*2;
		margin-bottom: $margin2;
		width: 60%;
		display: block;
	}
}

/*aside margins for read */
.read .priority1and2, 
.bleed .priority1and2, /*Imodules*/
.layout-full .priority1and2, /*static class*/ 
.layout-full-read /*drupal*/, 
.layout-read /*drupal*/,
.layout-full .field-name-body /*drupal*/{
	aside, .aside,
	.media-aside /*drupal media*/ {
		@include breakpoint(teen-up) {
			width: $smallratio;
			margin-top: $margin2;
			margin-bottom: $margin2/2;
		}
	}
}
/*space between image and main body on read with sidebar */
.read .priority1and2,
.bleed .priority1and2, /*Imodules*/
.layout-read {
	.aside, aside,
	.media-aside /*drupal media*/ {
		@include breakpoint(teen-up) {
			float: right;
			clear: right;
			padding-left: $margin4;
			figcaption:before {
				display: none;
			}
			figcaption {
				width: 100%;
			}
		}
	}
}

@if $drupal {
	/*media-aside needs padding
	this could probably get folded into other rules*/
	@include breakpoint(teen-up) {
		.media-aside, .aside {
			padding-left: $margin4;
		}
	}
}
/*full article, set aside to left*/
.layout-full, 
.read .layout-full,
.bleed .layout-full, /*Imodules*/ 
.layout-full-read
{
	aside, .aside,
	.media-aside /*drupal media*/ {
		@include breakpoint(teen-up) {
			float: left;
			clear: left;
		}
		figcaption {
				width: 100%;
			}
	}
}


/*margin-left for asides*/
@if $drupal {
	.layout-full-read {
		 #block-views-aside-block, .aside, aside,
		 {
			@include breakpoint(teen-up) {
				margin-left: $margin4;
			}
		}
	}
}

@else {
	/*read full article, add margin to aside*/
	.read .layout-full,
	.bleed .layout-full, /*Imodules*/ {
		.aside, aside,
		 {
			@include breakpoint(teen-up) {
				margin-left: $margin4;
			}
		}
	}
}



/*correct above rule so that aside within priority1and2 is flush left*/
.layout-full .priority1and2, .layout-full .field-name-body, .layout-full-read, .layout-read {
	aside, .aside,
	{
		@include breakpoint(teen-up) {
			margin-left: 0;
		}
	}
}


.read, 
.bleed .content, /*Imodules*/
.layout-full-read, .layout-read {
	.left {
		@include breakpoint(teen) {
			width: 100% - $smallratio;
			float: left;
			clear: left;
			margin: 0 0 $margin2/2;
			padding-right: $margin2;
		}
	}
}
figcaption, 
.field-name-field-caption /*drupal lead image*/,
.field-name-field-image-caption /*drupal media*/  {
	@include breakpoint(adult) {
		margin-bottom: $margin2;
	}
}



/*add bar before caption on .read  */
.withsidebar .fullimg, 
.layout-read .fullimg,
.layout-read .media-fullimg, /*drupal equivalent*/
.field-name-field-media,/*drupal lead image*/
.withsidebar .imgright,
.layout-read .imgright,
.layout-read .media-imgright /*drupal media*/
{
	figcaption:before, 
	.field-name-field-caption:before/*drupal lead image*/
	.field-name-field-image-caption /*drupal media*/
	 {
		@include breakpoint(teen-up) {
			margin-top: $margin5;
		}
	}
}
/*space between figcaption and mainbody on article with sidebar */
.read .withsidebar, .layout-read /*drupal equivalent*/{ 
	figcaption, .field-name-field-image-caption /*drupal media*/ {
		@include breakpoint(teen-up) {
			margin-left: $margin4;
			margin-bottom: $margin2;
			float: right;
		}
	}
}


.layout-full, 
.layout-full-read {
	.imgright,
	.media-imgright /*drupal media*/ {
		figcaption,
		.field-name-field-image-caption {
			@include breakpoint(adult) {
				@include transform( translateY(-100%) );
			}
			@include ie8{
				width: 30em;
				float: none;
				clear: left;
				margin-left: $ratio;
				margin-top: 0;
				margin-bottom: $margin2;
				display: block;
			}
		}
	}
}

/*this corresponds to typgoraphy-p: read p margins*/
figure.symmetry, 
.media-symmetry, /*drupal media*/ 
img.symmetry,
{
	@include breakpoint(teen-up) { 
		margin-left: $margin4;
		font-size: 1em;
		margin-bottom: $margin2;
	}
	@include breakpoint(adult) {
		font-size: .9em;
		max-width: 40em;
	}
}
.withsidebar, .layout-read /*drupal equivalent*/{ 
		img.symmetry, 
		.file-symmetry /*drupal media*/  {
		@include breakpoint(teen-up) {  
			padding-right: $margin4;
		}
	}
}

.layout-full figure.symmetry,
.layout-full .media-symmetry /*drupal media*/,  
.layout-full img.symmetry,
.layout-full-read figure.symmetry,
.layout-full-read .media-symmetry /*drupal media*/, 
.layout-full-read img.symmetry {
	@include breakpoint(teen-up) {
		margin-left: $ratio;
		margin-right: $margin4;
	}
}

.read,
.bleed .content, /*Imodules*/
.layout-full-read,
.layout-read {
	.symmetry, .media-symmetry /*drupal media*/{
		figcaption, .field-name-field-image-caption /*drupal media*/{
			@include breakpoint(teen-up) { 
				margin-left: 0;
				float: none;
			}
		}
	}
}