/* ==========================================================================
   Figures
   ========================================================================== */

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0 0 $margin2;
    @include breakpoint(big-baby-sleep) { 
    margin: 0 auto $margin2;
    text-align: center;
  }
}

.read figure {
	@include breakpoint(teen) {
		margin-bottom: 0;
	}
}

/*add bar before caption on .read */
.fullimg figcaption:before, .imgright figcaption:before {
	@include breakpoint(teen-up) {
		content: '';
		border-bottom: .4em solid $color3;
		margin-top: $margin2*2;
		margin-bottom: $margin2;
		width: 60%;
		display: block;
	}
}

/*aside margins for read */
.read .priority1and2 .aside, .full .priority1and2 aside,
.read .field-name-body .aside, .full .field-name-body aside
 {
	@include breakpoint(teen-up) {
		width: $smallratio;
		margin-top: $margin2;
		margin-bottom: $margin2/2;
	}
}

/*space between image and main body on read with sidebar */
.read .priority1and2 .aside,
.read .field-name-body .aside {
	@include breakpoint(teen-up) {
		float: right;
		clear: right;
		padding-left: $margin4;
		figcaption:before {
			display: none;
		}
		figcaption {
			width: 100%;
		}
	}
}

/*full article, set aside to left*/
.full aside, .read .full .aside {
	@include breakpoint(teen-up) {
		float: left;
		clear: left;
	}
}

/*read full article, add margin to aside*/
.read .full {
	 .aside, aside {
		@include breakpoint(teen-up) {
			margin-left: $margin4;
		}
	}
}

/*correct above rule so that aside within priority1and2 is flush left*/
.full .priority1and2, .full .field-name-body {
	aside, .aside{
		@include breakpoint(teen-up) {
			margin-left: 0;
		}
	}
}


.read .left  {
	@include breakpoint(teen) {
		width: 100% - $smallratio;
		float: left;
		clear: left;
		margin: 0 0 $margin2/2;
		padding-right: $margin2;
	}
}

figcaption {
	@include breakpoint(adult) {
		margin-bottom: $margin2;
	}
}

/*add bar before caption on .read */
.withsidebar .fullimg figcaption:before, .withsidebar .imgright figcaption:before {
	@include breakpoint(teen-up) {
		margin-top: $margin5;
	}
}

/*space between figcaption and mainbody on article with sidebar */
.read .withsidebar figcaption {
	@include breakpoint(teen-up) {
		margin-left: $margin4;
		margin-bottom: $margin2;
		float: right;
	}
}


.full .imgright figcaption {
	@include breakpoint(adult) {
		@include transform( translateY(-100%) );

	}
	@include ie8{
		width: 30em;
		float: none;
		clear: left;
		margin-left: $ratio;
		margin-top: 0;
		margin-bottom: $margin2;
		display: block;
	}
}

/*this corresponds to typgoraphy-p: read p margins*/
figure.symmetry {
	@include breakpoint(teen-up) { 
		margin-left: $margin4;
		font-size: 1em;
		margin-bottom: $margin2;
	}
	@include breakpoint(adult) {
		font-size: .9em;
	}
}

.full figure.symmetry {
	@include breakpoint(teen-up) {
		margin-left: $ratio;
		margin-right: $margin4;
	}
}

.read .symmetry figcaption {
	@include breakpoint(teen-up) { 
		margin-left: 0;
		float: none;
	}
}
