.flexcontainer {
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  @include align-items(center);
  @include flex-flow(row);
  @include justify-content(center);
  padding: $pagemargin $pagemargin;
}

.flexitem {
  padding-right: $margin/2;
  -webkit-flex-grow:1;
  -moz-flex-grow:1;
  flex-grow:1;
}