.header-main /*flexcontainer*/ {
  width: 100%;
  @include flexbox;
  @include flex-flow(row);
  @include justify-content(left);
  padding: $margin2 0 $margin2/2 $margin2;
  
  @include breakpoint(teen) {
    @include align-items(center);
    padding-top: $margin2;
    padding-bottom: $margin2;
  }
  @include breakpoint(adult) {
    padding-bottom: 0;
    padding-top: .5rem;
    padding-right: $margin2;
  }
}

/* not using multiline flex
.flexcontainer2 {
  width: 100%;
  @include flexbox;
  @include flex-flow(row);
  @include justify-content(center);
  @include flex-wrap( wrap ) ;
  section {
    width: 50%;
    padding-right: $margin;
  }
  .highlight {
    width: 100%;
  }
}
*/

.header-item /*flexitem*/{
  padding-right: $margin2;
  @include breakpoint(teen) { 
    padding-right: $margin2;
  }
  @include breakpoint(adult) { 
    padding-right: 0;
  }

}


.title {
  padding-top: 0px;
  margin-top: 0px;
}