.flexcontainer {
  width: 100%;
  @include flexbox;
  @include flex-flow(row);
  @include justify-content(left);
  padding: $margin $margin $margin/2;
  /*@include align-items(center);*/
}

/* not using multiline flex
.flexcontainer2 {
  width: 100%;
  @include flexbox;
  @include flex-flow(row);
  @include justify-content(center);
  @include flex-wrap( wrap ) ;
  section {
    width: 50%;
    padding-right: $margin;
  }
  .highlight {
    width: 100%;
  }
}
*/

.flexitem {
  padding-right: $margin;
  @include breakpoint(teen) { 
    padding-right: $margin; 
  }

}


.title {
  padding-top: 0px;
  margin-top: 0px;
}