/* Footer */

.footerimage {
  width: 100%;
  background: white;
  @include breakpoint(baby) { 
  display: none;
  }
}


footer {
  text-align: center;
  clear: both;
  background: #333;
  background: $color1;
  color: white;
  padding: 0.1em 0 6em;
}


.col-bottomlink {
	width: 25%;
}

@import "sitemap";





/* End of Footer */
