/* Footer */

.footerimage {
  width: 100%;
  @include breakpoint(baby) { 
  display: none;
  }
}


footer {
  text-align: center;
  font-size: .6em;
  clear:both;
  background: #333;
  background: darken($color1, 60);
  color: white;
}


.col-bottomlink {
	width: 25%;
}







/* End of Footer */
