/* Footer */


footer {
  text-align: center;
  clear: both;
  background: #333;
  background: $color1;
  color: white;
  padding: 0 0 3em;
}

.footerbanner {
  width: 100%;
  background: white;
  padding: 0;
  @include breakpoint(baby) { 
  display: none;
  }
}

.footerlogo {
  width: 100%;
  max-width: 500px;
  padding: $margin2 $margin2*2 ;
  @include breakpoint (adult) {
    margin-top: $margin3;
  }
}

.col-bottomlink {
	width: 25%;
}

@import "sitemap";

.smallprint {
  clear: both;
  margin: $margin2;
  font-size: .7em;
}



/* End of Footer */
