@if $imodules {
	/*rules designed for the iModules giving form */

	/* breadcrumbs */

	/* controls the block of breadcrumbs*/
	.formbreadcrumbs {
		margin-bottom: $margin2;
	}

	/*individual items*/
	.idbmsBreadcrumb, .idbmsBreadcrumbActive {
		padding: .2em;
		margin: 0;
		border: #666 thin solid;
		padding: .7em;
		font-size: .6em;
	}

	/*different color for general and active*/
	.idbmsBreadcrumb {
		background: #999;
		color: black;
	}

	.idbmsBreadcrumbActive {
		background: $color3;
		color: white;
	}

	/*add space beneath the breadcrumbs*/
	#rg_gfid_2096_pnlBreadcrumbs {
	 @include breakpoint(teen-up) {
	  margin-bottom: .9em;
	 }
	}


	/*reduce the label size and color*/
	.imod_fieldWrapper .imod_fieldLabel, 
	/*style designations header*/ #ContentMiddle .idbmsCampaignDesignationHeader, #ContentMiddle .idbmsCampaignPaymentOptionsHeader {
	 font-size: .9em;
	 color: #666;
	 @include breakpoint(teen-up) {
	  font-size: .8em;
	 }
	}


	/*add a margin underneath radio buttons on giving form*/
	#rg_gfid_2096_tblOuter_ctl00_ctl00_ctl00_ctl00_ctl00_tblGrouping_2097_ctl00_tr_23370_ctl00_ctl00_ctl00_fc_23370_rblAdvancedDesignations {
		margin-bottom: .5em;
		padding-top: 0; /*added after the iteration #1*/
	}

	/*tab in the "if you selected other" */
	#rg_gfid_2096_tblOuter_ctl00_ctl00_ctl00_ctl00_ctl00_tblGrouping_2097_ctl00_tr_27319 {
		margin-left: 1.5em;
	}

	/*make designation choices black to contrast with label color*/
	label, .checkbox-header, .radio-header {
	 color: black;
	}

	/*reduce space between other designations and designation*/
	 #rg_gfid_2096_tblOuter_ctl00_ctl00_ctl00_ctl00_ctl00_tblGrouping_2097_ctl00_tr_23370_ctl00_ctl00_ctl00_fc_23370_rblAdvancedDesignations {
	  padding-top: 0;
	 }

	 /*reduce events header font-size, should be a step bigger than label*/
	.EventsHeader {
	 @include breakpoint(teen-up) {
	  font-size: .8em;
	 }
	}
}