/* General Layout */
body {
  padding: 0;
  min-width: 310px;
  background: #ccc;
  @if $ie8 {
  	min-width: 850px;
  	@if $alumni {
  		min-width: 895px; /*more menu items require larger width*/
  	}
  }
}


/*drupal uses #page for .wrapper*/
@if $drupal {
	#page {
		margin: auto;
		@if $ie8 {
			max-width: 1524px; /*no senior for ie8*/
			border: thin solid $color1;
		}
		@else {
			max-width: 2227px; /*any bigger and the footer image gets away from the sidebar*/
		}
		background: white;
		@include breakpoint(senior) {
			border: thin solid $color1;
		}
	}
	@include breakpoint(senior) {
		#main{
			margin-right: 320px; /*make space for sidebar, magic number, if change this change .content as well*/
		}
	}
}
@else {
	.wrapper {
		margin: auto;
		@if $alumni {
			max-width: 1524px; 
		}
		@else {
			@if $ie8 {
				max-width: 1524px; /*no senior for ie8*/
				border: thin solid $color1;
			}
			@else {
				max-width: 2227px; /*any bigger and the footer image gets away from the sidebar*/
			}
		}
		background: white;
		@include breakpoint(senior) {
			border: thin solid $color1;
		}
	}
	@if $alumni{}
	@else {
		/*senior layout*/
		.content{
			@include breakpoint(senior) {
				margin-right: 320px; /*make space for sidebar if change this change layout-read #content as well*/
			}
		}
	}
}
@if $alumni{}
@else {
	@include breakpoint(senior) {
		.header-main .donate-wrapper, .header .mainnav ul.extra { 
	    right: 5%;
	    z-index: 11;
	    float: none;
	    display: block;
	    position: fixed !important;
	  }
	}
	@include breakpoint (senior) {
		.header-main .donate-wrapper {
			margin-right: 20px; /*center on header extra icons */
		}
	}
}

/*drupal uses #content for .content*/
@if $drupal {
	@include breakpoint(teen-up) {
		.layout-full-read article {
			width: 100%
		}
	}
	@include breakpoint(baby){
		.layout-full h1 {
			padding-right: $margin2
		}
	}
	#content{
		margin-top: $margin2; /*if change this, change .full img in images.scss*/
		margin-left: $margin2; /*if change this, change .layout-full img in images.scss*/
	 	/*on larger screen, additional margin */
		@include breakpoint(teen-up) {
	 		margin-top:$margin4; /*should be >= to margin-left*/
	 		margin-left: $margin4; /*if change this, change .full img in images.scss*/
	 	}
		@include breakpoint(adult) {
	 		margin-left: $margin4; /*if change this, change .full img in images.scss*/
		}
		/*add right margin to full width image, .content adds a left margin*/
		img, figure.small-left /*image floats in p block see giving form*/, p, h1, h2, h3, h4, h5, h6, li, iframe, .field-name-field-subtitle /*drupal subtitleh2*/ {
			/*baby set on article level*/
		 	/*on larger screen, additional margin */
			@include breakpoint(teen-up) {
		 		padding-right: $margin4; /*if change this, change .content in general-layout.scss*/
		 	}
			@include breakpoint(adult) {
		 		padding-right: $margin4; /*if change this, change .content in general-layout.scss*/
			}
		}
		/*col-article adds the right margin, so set image margin to 0*/
		.col-section, #block-views-aside-block {
			img, p, h1, h2, h3, h4, h5, h6, ol, li, iframe {
				padding-right: 0;
			}
		}
	}

	
	/*no col-article in drupal*/
	.layout-full-read, .layout-read {
		#content article{
			img,
			p, h1, h2, h3, h4, h5, h6, ol, li, iframe, .field-name-field-subtitle {
				padding-right: 0;
			}
		}
		/*padding set in article, no padding for block, see platforms
		padding-left: $margin2;*/
		@include breakpoint(teen-up) {
			#block-views-subpage-menu-block {
				padding-left: $margin4;
			}
		}
	}
}

@else {
	.content {
		margin-top: $margin2; /*if change this, change .full img in images.scss*/
		margin-left: $margin2; /*if change this, change .full img in images.scss*/
	 	/*on larger screen, additional margin */
		@include breakpoint(teen-up) {
	 		margin-top:$margin4; /*should be >= to margin-left*/
	 		margin-left: $margin4; /*if change this, change .full img in images.scss*/
	 	}
		@include breakpoint(adult) {
	 		margin-top:$margin4; /*should be >= to margin-left*/
	 		margin-left: $margin4; /*if change this, change .full img in images.scss*/
		}
		/*add right margin to full width image, .content adds a left margin*/
		img, figure.small-left /*image floats in p block. see giving form*/, 
		p, h1, h2, h3, h4, h5, h6, li, iframe {
			padding-right: $margin2; /*if change this, change .content in general-layout.scss*/
		 	/*on larger screen, additional margin */
			@include breakpoint(teen-up) {
		 		padding-right: $margin4; /*if change this, change .content in general-layout.scss*/
		 	}
			@include breakpoint(adult) {
		 		padding-right: $margin4; /*if change this, change .content in general-layout.scss*/
			}
		}
		/*col- adds the right margin, so set image margin to 0*/
		.col-article, .col-section, .priority3, .single
		{
			img, p, h1, h2, h3, h4, h5, h6, ol, li, iframe {
				padding-right: 0;
			}
		}
		.single {
			@include breakpoint(baby) {
				padding-right: $margin2;
			}
		}
	}
}

.read .maincontent /*static*/, 
.bleed .maincontent /*iModules template*/ {
	img, p, h1, h2, h3, h4, h5, h6, ol, li, iframe, figcaption /*add figcaption to ensure figcaption isn't wider than the image above it*/ {
		padding-right: 0;
	}
}


.read, /*html template*/ 
.layout-full-read #content, /*drupal*/ 
.layout-read #content, /*drupal*/
.bleed .content, /*iModules Alumni*/
{
	@include breakpoint(teen-up) { 
		margin-left: 0;
		margin-right: 0;
		@if $alumni{}
		@else {
			@include breakpoint(senior) {
				margin-right: 320px; /*if change this change #main as well*/
			}
		}
		/*for article with sidebar, add a gutter*/
		.priority1and2, .field-name-body /*drupal uses .field-name-body */{
			padding-right: $margin4;
		}
	}
}

.read, /*html template*/ 
.layout-full-read #content, /*drupal*/ 
.layout-read #content, /*drupal*/
.bleed /*iModules Alumni*/
{
	@include breakpoint(teen-up) { 
		/*turn off gutter if no sidebar*/
		.layout-full /*see drupal conditional below*/ {
			.priority1and2,  {
				padding-right: 0;
			}
			/*if no sidebar, set margins on semantic level becuase images are full screen*/
			.maincontent { 
				h2, h3, h4, h5, h6, p, ul, ol, .center-content{
					margin-left: $ratio;
					margin-right: $margin4;
					/*prevent margin on nested lists*/
					ul, ol {
						margin-left: $margin;
					}
				}
			}
		}
	}
	.maincontent .grid-wrap {
		@include breakpoint(baby){
			margin-left: $margin; /*2nd column has a margin, so make it symmetrical with that*/
		}
		@include breakpoint(teen-up) {
			margin-left: $margin4; /*add margin for grid on bleed page*/
			h2, h3, h4, h5, h6, p, ul, ol, .center-content {
				margin-left: 0;
				margin-right: 0;
			}
		} 
	}
}




@if $drupal /*.layout-full above*/ {
	@include breakpoint(teen-up) { 
		.layout-full-read #content .field-name-body {
			padding-right: 0;
			h2, h3, h4, h5, h6, p, ul, ol, .center-content {
				margin-left: $ratio;
				margin-right: $margin4;
				/*prevent margin on nested lists*/
				ul, ol {
					margin-left: $margin;
				}
			}
			aside, .aside, /*elements inside an aside inside the main article get no margin*/
			blockquote/*elements inside a blockquote get no margin*/
			 {
				h2, h3, h4, h5, h6, p, ul, ol, .center-content {
					margin-left: 0;
					margin-right: 0;
					/*prevent margin on nested lists*/
					ul, ol {
						margin-left: 0;
					}
				}
			}
			.cite-wrapper /* class is added to p parent of cite using jquery, turn off margin*/ {
				margin-left: 0;
			}
		}
	}
	blockquote p /*no margin on p inside of blockquote*/{
		margin-bottom: 0;
	}
}

/*sitemap comp is for giving channel, .sitemap-simple is alumni, and .block-menu is drupal*/
[class*='col-'], 
.read .maincontent, /*static template*/
.bleed .maincontent /*iModules */,
.sitemap-comp ul li, .sitemap-simple ul li, .block-menu ul li, 
/*.layout-full-read article,*/
.grid-separator /*set equal margin for grid-separator on alumni homepage*/{
  float: left;
  padding-right: $margin2;
  @include breakpoint(teen-all) { 
    padding-right: $margin4; /*should equal .content margin-left, check alumni homepage*/   
  }
  @include breakpoint(adult) { 
    padding-right: $margin4;
  }
}

@include breakpoint (baby) {
	article {
    padding-right: 0;
    margin-right: $margin2;
  }
}
/*prevent the events list on the homepage from being offcentered on baby view*/
@include breakpoint (baby) {
	.priority3 article{
    margin-right: 0;
  }
}

/*rewrite above rule for asides*/
.read .priority1and2 .maincontent, 
.bleed .priority1and2 .maincontent, /*iModules*/
.layout-read .field-name-body /*drupal*/{
	aside, .aside {
		h2, h3, h4, h5, h6, p, ul, ol, .center-content  {
			margin-left: 0;
			margin-right: 0;
		}
		h2, h3, h4, h5, h6, p  {	
			padding: 0;
		}
	}
}
/*
.gridpad {
	@include breakpoint(teen-up) { 
		margin-left: 0;
		margin-right: 0;
	}
}
*/

/*if change this, change aside */
/*in drupal .field-name-body is the body, #block-views-subpage-menu-block is the gridlink*/
.maincontent, .field-name-body, #block-views-subpage-menu-block, .page__title /*drupal h1*/ {
	/*on tablets and up, the aside moves to the sidebar*/
	width: 100%;
	@include breakpoint(teen-up) { 
		float:left; 
		/*display:inline; turning this off, becuase it interferes with the top-margin*/
		width: 72%;
	} 
}

@if $drupal {
	@include breakpoint(teen-up){ 
		.page__title /*drupal h1*/, .field-name-field-subtitle /*drupal page header h2*/{
			float: left /*have aside even with h1, but keep centered on phone*/
		}
	} 
	#block-views-subpage-menu-block, .field-name-field-subtitle {
		clear: left /*set subtitle to left*/
	}
	.field-name-body /*if no lead image, paragraph floats on h2*/,
	/*.field-name-field-media; this causes weird formatting on chrome for mac on /faculty */
	{
		clear: left
	}
	@if $ie8 {
		.field-name-field-media {
			clear: left; /*enables sidebar on /annual-fund */
		}
	}
	.layout-full-read, .layout-full /*but above will break with lead image*/{
		.field-name-body {
			clear: none;
		}
	}
}

/*fix error in drupal layout-read where margins get applied multiple times*/
@include breakpoint(teen-up) {
	.layout-read .maincontent, .layout-full-read .field-name-body{
		float: none;
	}
}

.layout-full, .layout-full-read {
	.maincontent, .field-name-body, #block-views-subpage-menu-block{
		width: 100%;
	}
	@if $drupal {
		.page__title /*drupal h1*/, .field-name-field-subtitle /*drupal page header h2*/{
			float: none /*have aside even with h1*/;
			width: auto; /*if 100%, crushes margin*/
		}
	}
}

/*this messes up the margin on boxes-noside tablet
.layout-full {
	.maincontent, .field-name-body, #block-views-subpage-menu-block{
		@include breakpoint (teen-all) {
			padding-right: $margin4 - $margin5;
		}
	}
}
*/

@if $alumni {
	/*add a right margin*/
	.single {
		margin-right: $margin2;
	 	/*on larger screen, additional margin */
		@include breakpoint(adult) {
	 		margin-right: $margin4;
		}
	}
}
.center-content, .center-content-no-margin {
	text-align: center;
}

/*no longer used
.gridguide {
		margin-left: 0;
		margin-right: 0;
}
*/

@if $drupal{}
@else {
	/*provide padding for iframe on layoutfull in iModules and static*/
	.layout-full .maincontent .full-section {
		padding-right: $margin;
	}

	.bleed, .read {
		.maincontent {
			.full-section, .col-article {
				padding-right: 0;
			}
		}
	}	
}









