/* General Layout */
body {
  padding: 0px;
  min-width: 310px;
}

.content {
	margin-left: $margin2;
 	/*on larger screen, additional margin */
	@include breakpoint(teen-up) {
 		margin-top:1em;
 		margin-left: $margin2;
 	}
	@include breakpoint(adult) {
 		margin-left: $margin3;
	}
}

.read {
	@include breakpoint(teen-up) { 
		margin-left: 0;
		margin-right: 0;
	}
}


.maincontent {
	/*on tablets and up, the aside moves to the sidebar*/
	width: 100%;
	@include breakpoint(teen-up) { 
		float:left; 
		display:inline;
		width: 72%;
	} 
	@include breakpoint(teen-sleep) {
		width: 73%;
	}
	@include breakpoint(senior) { 
		width: 74%;
	}
}

.read .maincontent{
	width: 100%
	}

/* End of General Layout */