@if $drupal {
	/* google search overrides */
	article .gsc-control-cse {
		padding: 0;
	}

	form.gsc-search-box {
		padding: .7rem 0px 0px 0px;
	}

	form tbody {
	border-top: none;
	}

	.gsc-control-cse, .gsc-control-cse .gsc-table-result {
		margin-bottom: .7rem;
	}

	/*align search button with input field*/
	input[type="button"].gsc-search-button {
    margin-top: .2em;
	}
}