.grid {
list-style: none;
padding: 0;
}

.grid li {
display: inline-block;
width: 33%;
margin: 0;
padding: 5px;
text-align: left;
position: relative;
}

/******************* HOVRER IMAGE **************/

/* Image Box Style */
.gridhover .box {
  cursor: pointer;
  height: 10em;
  float: left;
  margin: 5px;
  position: relative;
  overflow: hidden;
  width: 25%;
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;
}
.gridhover .box img {
  position: absolute;
  left: 0;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out; 
  transition: all 300ms ease-out;
}

/* Caption Common Style */
.gridhover .box .caption {
  background-color: rgba(0,0,0,0.8);
  position: absolute;
  color: #fff;
  z-index: 100;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out; 
    transition: all 300ms ease-out;
  left: 0;
}

/** Caption 4: Slide **/
.gridhover .box .slide-caption {
  width: 100%;
  height: 100%;
  text-align: left;
  padding: 15px;
  -webkit-transform: translateY(50%);
}

/** Slide Caption :hover Behaviour **/
.gridhover .box:hover .slide-caption {
  background-color: rgba(0,0,0,1) !important;

  -webkit-transform: translateY(0%);
  opacity: 1;
  transform: translateX(-100%);
}
.gridhover .box:hover img#image-4 {
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: 1;
}

