/* Grid */


* {
  @include box-sizing(border-box);
}

.grid {
  margin: 0;
}
.grid:after {
  /* Or @extend clearfix */
  content: "";
  display: table;
  clear: both;
}

[class*='col-'], .sitemap ul li {
  float: left;
  padding-right: $margin2;
  @include breakpoint(teen) { 
    padding-right: $margin2*1.5;   
  }
  @include breakpoint(adult) { 
    padding-right: $margin2*2;   
  }

}


.grid [class*='col-']:last-of-type,  {
  padding-right: 0;
}

/* Opt-in outside padding */
.grid-pad {
  padding: 0;
}

.col-section, .sitemap ul li {
  /*blocks are two across on smartphones*/
  @include breakpoint(baby) { width: 50%;
   }
  /*blocks are three across on large smartphones landscape*/
  @include breakpoint(big-baby-sleep) { width: 33.33%; }
  @include breakpoint(teen-up) { width: 50%; }
  @include breakpoint(teen-sleep) { width: 33.33%; }
}

/*on two grid, aligns the odds to the left side*/
.col-section:nth-of-type(odd) {
  clear: left;
  @include breakpoint(big-baby-sleep) {
    clear: inherit;
  }
  @include breakpoint(teen-sleep) {
    clear: inherit;
  }
}

.sitemap ul li {
  @include breakpoint(teen-up) { 
    width: 25%;
   }
}


.read .col-article {
  @include breakpoint(teen-up) {
    margin: 0;
    padding: 0;
    }
}

.col-2-3 {
  width: 66.66%;
  display: block;
}

.col-1-3 {
  width: 33.33%;
  display: block;
}

.col-1-2 {
  width: 50%;
}

.col-3-4 {
  width: 75%;
}

/*col-1-4:nth-of-type(even) {
  clear:left;
}

.col-1-4:nth-of-type(even) {
  padding-right: 0;
}
*/

.col-5-8 {
  width: 62.5%;
}

.col-2-8 {
   width: 25%;}

/*only need in two column width*/
.col-1-8 {
  width: 12.5%;
}

.module {
  padding: 0;
  min-width: 25px;
  min-height: 25px;
  overflow: hidden;
}


section {
  margin-bottom: $margin2;
  @include breakpoint(teen) { 
    margin-bottom: $margin2*1.5;   
  }
  @include breakpoint(adult) { 
    margin-bottom: $margin2*2;   
  }
  }

/* End of Grid */