.header-main {
  width: 100%;
  padding: $margin2 0 $margin2/2 $margin2;
   @include breakpoint(teen-all) {
    padding-top: $margin2;
    padding-bottom: $margin2;
  }
  @include breakpoint(adult) {
    padding-bottom: 0;
    padding-right: $margin2;
    padding-top: .5rem;
    @if $ie8 {
      padding-top: .5em;
    }
  }
  .donate-wrapper {
    float:right;
  }
}


.header-item {
  float: left;
  padding-right: $margin2;
  display: inline-block;
  @include breakpoint(teen) { 
    padding-right: $margin2;
  }
  @include breakpoint(adult) { 
    padding-right: 0;
  }
}

/*added .header to front end because drupal assigns .title to main h1, not title of channel*/
.header .title {
  padding-top: 0px;
  margin-top: 0px;
  @if $alumni {
    /*only image in alumni channel*/
    img {
      float: left;
      padding-right: 6px;
      height: 2em;
      @include breakpoint(teen-up) {
        height: .85em;
      }
    }
    .headertitle {
      float: left;
    }
  }
}
