/* Header */

@if $drupal {
    /*drupal wraps the header in another header, so I changed the second one to .header-wrapper*/
  .header-wrapper {
    background: $color1;
     @include breakpoint(teen-all) {
      padding: 0 $margin2;
    } 
    @include breakpoint(adult) {
      padding: $margin2;
    }
    @include breakpoint(senior) {
      z-index: 1;
    }  
  }
}

@else {

  .header, .header-wrapper {
    background: $color1;
     @include breakpoint(teen-all) {
      padding: 0 $margin2;
    } 
    @include breakpoint(adult) {
      padding: $margin2;
    }
    @if alumni{}
    @else {
      @include breakpoint(senior) {
        z-index: 1;
      }
    } 
  }
}
/* not used anymore
.col-bannerfill {
  display: none;
  @include breakpoint(adult) { 
    display: inline;
    color: darken($color1, 15);
    font-size: 2em;
    margin-left: $margin2/2;
    margin-top: .4em;
  }
}
*/

.menu-open /*box-shadow-menu*/ {
  position: relative;
  padding-left: 1.25em;
}

/*menu hamburger*/
.menu-open:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 0.19em;
  border-top: 0.5em double #FFF;
  border-bottom: 0.167em solid #FFF;
  font-size: 1.5em;
}

/*
.menu-open:hover:before {
  background: $color4;
  box-shadow: 
    0 0.5em 0 0 $color4,
    0 1em 0 0 $color4;
}
*/


/* End of Header */