/* Header */

.header {
  padding: .7em .7em .3em;
}

.header {
  background: $color1;
  padding-top: .3em;
}

.menu-wrapper {
  width: 10%;
  max-width: 65px; 
  padding: 0; 
  margin: 0 .5em 0 0;
  @include breakpoint(big-baby-sleep) { 
    margin-top: .2em;
  }
  @include breakpoint(teen-up) { 
    margin-top: .2em;
  }
  @include breakpoint(adult) { 
    display: none;
    }
}


.donate-wrapper {
  width: 15%;
  max-width: 80px;
  margin-top:.2em;
  padding-top:0;
  margin-right: $margin/2; 
  float: right;
  @include breakpoint(teen-up) { 
    margin-top: .6em;
  }
  }

.menu {
  text-align:center;
  margin: 2px 4px 0px 0px; 
  text-align:left;
  
}

.menuicon {width:100%; max-width: 45px;
  }

.bannerimage {width:100%;}

.title {
  margin-top:.2em;
  text-align:center;
  padding-right: 0em;
  width: 69%;
  max-width: 400px;
  }

.title div {
}

.col-bannerfill {
  display: none;
  @include breakpoint(adult) { 
    display: inline;
    color: darken($color1, 15);
    font-size: 2em;
    margin-left: $margin/2;
    margin-top: .4em;
  }
}

.donate {
  color: white;
  width:100%;
  float:right;
  margin-top:0;
  padding-top:0;
  background: -moz-linear-gradient(
    top,
    #d91f28 0%,
    #de2831 29%,
    #94151b);
  background: -webkit-gradient(
    linear, left top, left bottom, 
    from(#d91f28),
    color-stop(0.49, #de2831),
    to(#94151b));
  -moz-border-radius: .7em;
  -webkit-border-radius: .7em;
  border-radius: 1em;
  border: 1px solid #d91f28;
  -moz-box-shadow:
    3px 3px 3px rgba(000,000,000,0.5),
    inset -14px -12px 4px rgba(247,054,064,0);
  -webkit-box-shadow:
    3px 3px 3px rgba(000,000,000,0.5),
    inset -14px -12px 4px rgba(247,054,064,0);
  box-shadow:
    3px 3px 3px rgba(000,000,000,0.5),
    inset -14px -12px 4px rgba(247,054,064,0);
  text-shadow:
    0px -1px 0px rgba(000,000,000,0),
    0px 1px 0px rgba(255,255,255,0);
  font-size:.5em;
}



/* End of Header */