.header-main {
  width: 100%;
  padding: $margin2 0 $margin2/2 $margin2;
   @include breakpoint(teen) {
    padding-top: $margin2;
    padding-bottom: $margin2;
  }
  @include breakpoint(adult) {
    padding-bottom: 0;
    padding-right: $margin2;
    padding-top: .5rem;
    @include ie8 {
      padding-top: .5em;
    }
  }
  .donate-wrapper {
    float:right;
  }
}

/*clear fix*/
.header-main:after {
  content: "";
  display: table;
  clear: both;

}


.header-item {
  float: left;
  padding-right: $margin2;
  display: inline-block;
  @include breakpoint(teen) { 
    padding-right: $margin2;
  }
  @include breakpoint(adult) { 
    padding-right: 0;
  }
}

.title {
  padding-top: 0px;
  margin-top: 0px;
}