@if $ie8{}
@else 
{
	/*restrict image size, but breaks ie8*/
	img {
		max-width: 100%;
	}
}
.col-section img, article img, footer img {
  width: 100%;
}

.col-article, 
.bleed .maincontent /*iModules Alumni Template*/,
.layout-full-read article, .layout-read article {
	img {
		@include breakpoint(big-baby-sleep) { 
  		max-height:150px;
  		width: auto !important;
		}
	} 
}



/*fullimg figure and images*/ 
.fullimg img, 
img.fullimg, 
.field-name-field-media .field-name-field-image img /*drupal lead image*/,
.media-fullimg{
	width: 100%; /*full screen*/
	height: auto;
	/*max-width and slide left for images on read adult */
	@include breakpoint(adult) { 
		float: left; 
		margin-right: $margin*2; /*set gutter*/
		margin-bottom: $margin;
	}
	@if $ie8 {
		max-width: 750px; /*prevent images from getting to large*/
	}
}


@include breakpoint(adult) {
	.fullimg, 
	.media-fullimg /*drupal fullimg*/,
	.field-name-field-media .field-name-field-image /*drupal lead image*/ {
		max-width: 30em; /* or else too big on big screens: text wraps */
		@if $ie8{
			width: 70%; /*leave space for text to wrap*/
			max-width: 750px; /*prevent images from getting to large*/
		}
	}
	.read .withsidebar /*original html*/,
	.layout-read /*drupal*/,
	.bleed .layout-sidebar /*imodules*/ {
		.fullimg, 
		.media-fullimg /*drupal fullimg*/,
		.field-name-field-media .field-name-field-image /*drupal lead image*/ {
			@if $ie8{
				width: 100%; /*prevent image overflowing*/
			}
			@else {
				max-width: 750px; /* or else too big on big screens: full image based on pixel recommendation */
			}
		}
	}
}


@include breakpoint(adult) {
	@if $ie8{
		/*style imgright as symmetry*/
	}
	@else {
		.layout-full /*imodules and drupal*/ {
			figure.imgright {
				float: right;
				padding-left: $margin4;
			}
			.imgright img, img.imgright, .file-imgright {
				max-width: 750px; /* or else too big on big screens: full image based on pixel recommendation */
				padding-left: 0;
				margin-left: 0;
			}
		}
		/*on large screen right image goes right*/
		.read .layout-full,
		.bleed .layout-full/*imodules article no sidebar*/, 
		.layout-full-read /*drupal*/{ 
			figure.imgright {
				float: none;
			}
			.imgright img, img.imgright, .file-imgright {
				margin-left: 1%; /*without this image disappears, not sure why*/
				padding-left: 30%; /*align right*/
				max-width: 100%;
			}
		}
	}
	/*if article sidebar, stay full*/ 
	.read .withsidebar /*original html*/,
	.layout-read /*drupal*/,
	.bleed .layout-sidebar /*imodules*/ {
		.imgright img, img.imgright, .file-imgright {
			padding-left: 0;
			margin-left: 0;
			max-width: 750px; /* or else too big on big screens: full image based on pixel recommendation */
		}
	}
}

