.col-section img, article img, footer img {
  width: 100%;
}

.col-article img
{
	@include breakpoint(big-baby-sleep) { 
    max-height:150px;
    width: auto;
    } 
   }

/*figure */
.fullimg img {
	width: 100%; /*full screen*/
	/*max-width and slide left for images on read adult */
	@include breakpoint(adult) { 
		max-width: 30em; /* or else too big on big screens */
		float: left; 
		margin-right: $margin*2; /*set gutter*/
		margin-bottom: $margin;
	}
	@include ie8 {
		width: 30em;
	}
}

/*figure */
.imageright img{
	@include breakpoint(adult) { 
	margin-left: 31%; /*align right*/
	max-width: 69%;	/*full width of whatever is left*/
	}
	@include ie8 {
		width: 30em;
		margin-left: $ratio;
	}
}