/*restrict image size*/
img {
	max-width: 100%;
}


@if $drupal {
	/*add right margin to full width image, .content adds a left margin*/
	#content {
		img, p, h1, h2, h3, h4, h5, h6, li {
			padding-right: $margin2; /*if change this, change .content in general-layout.scss*/
		 	/*on larger screen, additional margin */
			@include breakpoint(teen-up) {
		 		padding-right: $margin4; /*if change this, change .content in general-layout.scss*/
		 	}
			@include breakpoint(adult) {
		 		padding-right: $margin3; /*if change this, change .content in general-layout.scss*/
			}
		}
		/*col-article adds the right margin, so set image margin to 0*/
		.col-article, .col-section, .priority3 {
			img, p, h1, h2, h3, h4, h5, h6, ol, li {
				padding-right: 0;
			}
		}
	}
}

@else {
	/*add right margin to full width image, .content adds a left margin*/
	.content {
		img, p, h1, h2, h3, h4, h5, h6, li {
			padding-right: $margin2; /*if change this, change .content in general-layout.scss*/
		 	/*on larger screen, additional margin */
			@include breakpoint(teen-up) {
		 		padding-right: $margin4; /*if change this, change .content in general-layout.scss*/
		 	}
			@include breakpoint(adult) {
		 		padding-right: $margin3; /*if change this, change .content in general-layout.scss*/
			}
		}
		/*col-article adds the right margin, so set image margin to 0*/
		.col-article, .col-section, .priority3 {
			img, p, h1, h2, h3, h4, h5, h6, ol, li {
				padding-right: 0;
			}
		}
	}
}




.col-section img, article img, footer img {
  width: 100%;
}

.col-article img
{
	@include breakpoint(big-baby-sleep) { 
    max-height:150px;
    width: auto;
    } 
   }

/*figure */
.full .fullimg img {
	width: 100%; /*full screen*/
	/*max-width and slide left for images on read adult */
	@include breakpoint(adult) { 
		max-width: 30em; /* or else too big on big screens */
		float: left; 
		margin-right: $margin*2; /*set gutter*/
		margin-bottom: $margin;
	}
	@include ie8 {
		width: 30em;
	}
}

/*figure */
.full .imgright img{
	@include breakpoint(adult) { 
	margin-left: 31%; /*align right*/
	max-width: 69%;	/*full width of whatever is left*/
	}
	@include ie8 {
		width: 30em;
		margin-left: $ratio;
	}
}