/* small left image*/
/*line 160, _general-layout.scss */
  .content figure.small-left {
    padding-right: 0.9em;
    padding-right: 0.9rem;
    /*if change this, change .content in general-layout.scss*/
    /*on larger screen, additional margin */
    /*tablet and up*/
    /*screen*/ }
  @media only screen and (min-width: 749px) {
      /* line 160, _general-layout.scss */
      .content figure.small-left,
      {
       	padding-right: 1.8em;
        padding-right: 1.8rem;
        /*if change this, change .content in general-layout.scss*/ } }
    @media only screen and (min-width: 901px) {
      /* line 160, _general-layout.scss */
      .content figure.small-left
      { padding-right: 1.8em;
      	padding-right: 1.8rem;
        /*if change this, change .content in general-layout.scss*/ } }

  /* line 503, _figures.scss */
	figure.small-left {
	  width: 40%;
	  max-width: 265px;
	  float: left;
	  clear: left;
	  margin-bottom: 0px;
	  /*image padding set in general layout*/ }
	  /* line 509, _figures.scss */
	  figure.small-left img {
	    padding-right: 0; }

	/*tablet and up*/
	@media only screen and (min-width: 749px) {
	  /* line 530, _figures.scss */
	  .read .layout-full .maincontent figure.small-left,
	  .layout-full-read #content .layout-full .maincontent figure.small-left,
	  .layout-read #content .layout-full .maincontent figure.small-left,
	  .bleed .layout-full .maincontent figure.small-left {
	    margin-left: 34%; } }

/*in iModules giving form, the label comes before the checkbox. Move label to the right of checkbox*/
/* line 69, _forms.scss */
.imod-checkbox .imod_fieldLabel {
  position: absolute;
  left: 1em; }

/*no bold on checkbox label*/
/* line 74, _forms.scss */
.imod-checkbox .imod_fieldLabel span {
  font-weight: 300; }

/*breadcrumbs should not float*/
/* line 78, _forms.scss */
div[id$="_pnlBreadcrumbs"] {
  clear: left; }