/* ==========================================================================
   Links
   ========================================================================== */

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
    
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}
/*no underline*/
a {text-decoration: none}

/*standard link color*/
a:link, a:visited{
	color: $color3}

/*dark shadow on hover*/
a:hover {
	color: lighten($color3, 5);
	text-shadow: 2px 2px 2px $color1; 
}



/*hidden white links*/
.sitemap, .extra, .header  {
  a:link, a:visited, a:active {
    color: white;
  }
}

.mainnav, .sitemap, .extra  {
  a:link, a:visited, a:active {
    width: 100%;
    display: block;
    @include breakpoint(adult) {
      display: inline;
    }
	}
}

/*hidden white links go blue on hover */
.header:hover {
    a:hover {
    color: $color4;
    text-shadow: none;
  }
}


/*footer links are on gray and need a lighter blue*/
footer {
  a:link, a:visited {
    color: $color4;
  }
}


/*use this class to space out links for touch*/
.space-link {
	line-height: 2em;
	@include breakpoint(adult) {
		line-height: auto;
	}
}


/*hide phone link on desktop */
a.phone:link, a.phone:visited, a.phone:hover {
	@include breakpoint(adult){
		color: white;
	}
}