/* ==========================================================================
   Links
   ========================================================================== */

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
    
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}
/*no underline*/
a {text-decoration: none}

/*standard link color*/
a:link, a:visited{
	color: $color3; 
  border-bottom: white;
  border-width: 0px 0px 1px 0px;
  border-style: none none dotted none;
}

a:hover {
  border-bottom: $color3;
  border-width: 0px 0px 1px 0px;
  border-style: none none dotted none;
}

/*hide phone link on desktop */
  a.phone:link, a.phone:visited, a.phone:hover {
    @include breakpoint(adult){
      color: black;
      border-style: none;
    }
  }

/*hidden white links*/
/*block-menu is sitemap in drupal*/
.sitemap, .extra, .header, .social, .block-menu  {
  a:link, a:visited, a:active {
    color: white;
    border-style: none;
  }
  a:hover {
    color: $color4;
    text-shadow: none;
  }
}


/*Rensselaer is gray on phone */
.header .title {
  @include breakpoint(baby) {
    a:link, a:visited, a:active, .part1 {
      color: #CCC;    
    }
    a:hover {
      color: $color4;
    }
    .part2:hover {
      color: $color4;
      text-shadow: none;
    }
  }
}

.header .title:hover .part1, .header .title:hover .part2 {
  color: $color4
}

/*no hover affect, w/out this there will be a flash of color*/
nav, .social, .footerlogo-wrapper{
  a:hover {
    border-style: none;
  }
}


.mainnav, .sitemap, .extra, .block-menu {
  a:link, a:visited, a:active {
    width: 100%;
    display: block;
    @include breakpoint(adult) {
      display: inline;
    }
	}
}

/*for grid, we want the whole box to be a link, the image and text*/
.gridlink:link, .gridlink:visited {
  /*these two rules ensure that the link wraps the image and text when there is a background*/
  height: 100%;
  display: block;
  background: white;
  /*prevents a jiggle when mousing over*/
  border: dotted thin transparent;
  padding-bottom: $margin2/2;
  img {
    opacity:1;   
  }
}

/*breakout section has bluebackground, set link color to none*/
section.breakout {
  .gridlink:link, .gridlink:visited {
  background: none;
  color: black;
  text-align: center;
  margin-top: $margin4;
  }
}

.gridlink:hover, .gridlink:active {
  background: $color4;
  border: dotted thin $color3;
  color: $color1;
  img {
    opacity:0.6;
    /*webkit jiggles the image without this rule*/
    -webkit-backface-visibility: hidden;
    @include ie8 {  
      filter:alpha(opacity=60);
    }
  }
  h2 {
    color: $color1;
  }
}
/*breakout section has bluebackground and no images, set link underline and no border*/
section.breakout {
  .gridlink:hover, .gridlink:visited {
  text-decoration: underline;
  border: dotted thin transparent;
  }
}


/*footer links are on gray and need a lighter blue*/
footer {
  a:link, a:visited, a:active {
    color: $color4;
    border-style: none;
  }
  a:hover {
    border-bottom: $color4;
    border-width: 0px 0px 1px 0px;
    border-style: none none dotted none;
  }
  /*hide phone link on desktop */
  a.phone:link, a.phone:visited, a.phone:hover {
    @include breakpoint(adult){
      color: white;
      border-style: none;
    }
  }
}


/*use this class to space out links for touch*/
.space-link {
	line-height: 2em;
	@include breakpoint(adult) {
		line-height: normal;
	}
}