/* ==========================================================================
   Links
   ========================================================================== */

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
    
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

a {text-decoration: none}

a:link, a:visited{
	color: $color3}

a:hover {
	color: lighten($color3, 5);
	text-shadow: 2px 2px 2px $color1; 
	
}