/* ==========================================================================
   Lists
   ========================================================================== */

/**
 * Address margins set differently in IE 6/7.
 */

dl,
menu,
ol,
ul {
    margin: 1em 0;
}

dd {
    margin: 0 0 0 40px;
}

/**
 * Address paddings set differently in IE 6/7.
 */

menu,
ol,
ul {
    padding: 0 0 0 40px;
}

/**
 * Correct list images handled incorrectly in IE 7.
 */

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}

@if $drupal {
	#content {
		ul {
			padding-left: $margin3;
			padding-right: $margin3;
			max-width: 36em;
			font-weight: 300;
			/*text-align: justify;*/
			@include breakpoint(teen-up) {
				padding-left: $margin4;
				padding-right: $margin4;
			}
			li {
				margin-bottom: .3em;
			}
		}
		/*reduce top-margin and font size on nested lists*/
		ul ul, ol ol {
			margin-top: $margin/2;
			font-size: .8em;
		}
	}
}

@else {
	.content {
		ul {
			padding-left: $margin3;
			padding-right: $margin3;
			max-width: 36em;
			font-weight: 300;
			/*text-align: justify;*/
			@include breakpoint(teen-up) {
				padding-left: $margin4;
				padding-right: $margin4;
			}
			li {
				margin-bottom: .3em;
			}
		}
		/*reduce top-margin and font size on nested lists*/
		ul ul, ol ol {
			margin-top: $margin/2;
			font-size: .8em;
		}
	}
}

.read .priority1and2 {
	/*set lists on article with sidebar to the same as p*/
	ul, ol {
		@include breakpoint(teen-up) { 
			margin-left: $margin4;
		}
	}
	aside {
		ul, ol {
			li {
				margin: 0;
			}
		}
	}
}

