/* Misc Style */

/* Red Line */
.header {
border-bottom-style:solid;
border-bottom-width:thin;
border-bottom-color:$color2;
}

.pageheader {
	margin-bottom: .2em;
	@include breakpoint(teen) {
		margin-bottom: .6em;
	}
	@include breakpoint(adult) {
		margin-bottom: .6em;
	}
}

.read .pageheader,
.bleed .pageheader, /*Imodules*/ {
	@include breakpoint(teen-all) {
		margin-bottom: $margin2*2.5;
	}
}
footer {
	border-style: none;
	@include breakpoint(baby) {
		border-top-style:solid;
		border-top-width:thin;
		border-top-color:$color2;
	}
}

.button {
  text-align: center;
  text-transform: uppercase;
}


 *:hover, *:focus, nav, .social, .gridlink{
 	-moz-transition:
 		background-color 0.3s ease-in-out,
 		border-color 0.3s ease-in-out,
 		box-shadow 0.3s ease-in-out,
 		color 0.3s ease-in-out,
 		opacity 0.3s ease-in-out,
 		text-shadow 0.3s ease-in-out,
 		-moz-transform 0.3s ease-in-out; 
 	-webkit-transition:
 		background-color 0.3s ease-in-out,
 		border-color 0.3s ease-in-out,
 		-webkit-box-shadow 0.5s ease-in-out,
 		color 0.3s ease-in-out,
 		opacity 0.3s ease-in-out,
 		text-shadow 0.3s ease-in-out,
 		-webkit-transform 0.3s ease-in-out;
 	-o-transition:
 		background-color 0.3s ease-in-out,
 		border-color 0.3s ease-in-out,
 		-o-box-shadow 0.3s ease-in-out,
 		box-shadow 0.3s ease-in-out,
 		color 0.3s ease-in-out,
 		opacity 0.3s ease-in-out,
 		text-shadow 0.3s ease-in-out,
 		-o-transform 0.3s ease-in-out;
	transition:
		background-color 0.3s ease-in-out,
		border-color 0.3s ease-in-out,
		box-shadow 0.3s ease-in-out,
		color 0.3s ease-in-out,
		opacity 0.3s ease-in-out,
		text-shadow 0.3s ease-in-out,
		transform 0.3s ease-in-out}


/* End of Misc Style */
