.mainnav, footer  {
  /*menu is set up as a ul, but renders as inline*/
  ul {
    list-style-type:none;
    padding-left: 0px;
  }
  /*this is for a secondary menu, renders as a list of icons with labels
  both mainnav and footer*/
  ul.extra {
    width: 100%;
    padding: 0 $margin2;
    /*on desktop, a string of small icons on right*/
    @include breakpoint(adult) {
      float: right;
      width: auto;
      display: inline;
      padding: .8em 0 0;
      vertical-align: top;
      .mobileonly {
        display: none;
      }
    }
    
    li {
      text-align: center;
      width: 25%;
      float: left;
      @include breakpoint(adult) {
        padding-left: .9em;
        width: auto;
        display: inline;
        float: left;
        img {
          display: block;
        }
        @include ie8 {
          margin-left: .3em;
        }
      }
    }
  }
}
.mainnav {
  width: 100%; /* is this the right choice? */
  height:100%;
  position:fixed;
  display: block;
  top:0px;
  left:0px;
  background: #333;
  color:#fff;
  padding:3%;
  text-transform:uppercase;
  box-shadow:inset 0 0 1em .2em #222;
  @include transform( translate(-105%) );
  @include breakpoint(adult) { 
    position: relative;
    padding: 0rem 1rem;
    @include ie8 {
      padding: 0em 1em;
    }
    @include transform( translate(0%) );
    box-shadow:none;
    font-size: .9em;
    margin-bottom: 0px;
  }
  z-index:999;
  .menu-close {
    font-size: .8em;   
    @include breakpoint(adult) { 
      display: none;
    }
  }
  .menu-close:hover, .menu-close:active {
    cursor: pointer
  }
  ul.nav {
    margin-top: 1em;
    border-bottom: solid thin $color2; /* red line divider */
    @include breakpoint(adult) { 
      border:none;
      display: inline-block;
      float: left;
      width: $navwidth;
      margin-top: .5rem;
      @include ie8 {
        margin-top: .5em;
      }
    }
    li {
      display: block;
      text-align: center;
      width: 50%; /*if you change this, must change .col-section:nth-of-type in grid.scss*/
      float: left;
      padding: $margin 0 $margin3;
      @include breakpoint(teen-all) {
        margin-bottom: 3em;
      }
      @include breakpoint(adult) {
        display: inline;
        border: none;
        padding: 0;
        padding-right: $margin2;
        width: auto;
      }
    }
  }
  /*extra menu, just the header*/
  ul.extra {
    margin-top: $margin2*2;
    font-size: .7em;
    @include breakpoint(adult) {
      margin-top: 0;
    }
  } 
}
footer ul.extra {
  text-transform: uppercase;
  font-size: .7em;
  margin-top: $margin2*2;
  @include breakpoint(adult) {
     display: none;
  }
}
/*icons adjacent to text on menu items */
.menu-icon {
  height: 3em;
  max-height: 50px;
  display: block;
  margin: auto;
  width: auto;
  @include breakpoint(adult) {
    width: auto;
    display: inline;
    padding-right: .3rem;
    height: .9rem;
    @include ie8 {
      padding-right: .3em;
      height: 15px;
    }
  }
}
.sitemap .menu-icon {
  display: none;
  width: auto;
}
/*icons show on sitemap in teen and adult */
@include breakpoint(teen-up) {
 /*small inline icons for giving sitemap*/
 .sitemap-comp .menu-icon  {
    display: inline;
    height: .9rem;
    padding-right: .3rem;
    @include ie8{
      height: .9em;
      padding-right: .3em;
    }
  }
  /*large block icons for alumni sitemap*/
  .sitemap-simple .menu-icon {
    display: block;
    height: 2em;
  }
}
ul.extra .menu-icon {
  padding-right: 0;
  @include breakpoint(adult) {
  padding-right: 0;
  padding-left: 0;
  width: auto;
  max-height: 1.5em;
  }
  @include ie8 {
    max-width: 2em; 
  }
}
/*javascript fires new class, which moves menu */
body.menu-on .mainnav {
  @include transform( translate(0%) );
}