.mainnav, footer  {
  /*menu is set up as a ul, but renders as inline*/
  ul {
    list-style-type:none;
    padding-left: 0px;
  }
  /*this is for a secondary menu, renders as a list of icons with labels
  both mainnav and footer*/
  ul.extra {
    width: 100%;
    padding: 0 $margin2;
    /*on desktop, a string of small icons on right*/
    @include breakpoint(adult) {
      float: right;
      width: auto;
      display: inline;
      padding: .8em 0 0;
      vertical-align: top;
      .mobileonly {
        display: none;
      }
    }
    @if $alumni{}
    @else {
      @include breakpoint(senior) {
        padding: 0 $margin2; /*line up under give now button*/
      }
    }

    
    li {
      text-align: center;
      width: 25%;
      float: left;
      @include breakpoint(adult) {
        padding-left: .9em;
        width: auto;
        display: inline;
        float: left;
        img {
          display: block;
        }
        @include ie8 {
          margin-left: .3em;
        }
      }
    }
  }
  @if $imodules {
    ul.log {
      padding: 0;
      @include breakpoint (adult) {
        padding: .8em 0 0;
      }
      li {
        width: 20%;
        @include breakpoint (adult) {
          width: auto;

        }
      }
    }
  }
}

.mainnav {
  width: 100%; /* is this the right choice? */
  height:100%;
  position:fixed;
  overflow: auto; /*showing up in android menu, when it is not needed*/
  display: block;
  top:0px;
  left:0px;
  background: #333;
  color:#fff;
  padding:3%;
  text-transform:uppercase;
  box-shadow:inset 0 0 1em .2em #222;
  /*menu tranform breaks Chrome Fixed Positioning (used in Senior), so only use when neccessary*/
  
  @include breakpoint (baby) {
    transform: translate(-105%);
  }
  @include breakpoint (teen-all) {
    transform: translate(-105%);
  }
  @include breakpoint(adult) { 
    position: relative;
    overflow: visible;
    padding: 0rem 1rem;
    @include ie8 {
      padding: 0em 1em;
    }
    box-shadow:none;
    font-size: .9em;
    margin-bottom: 0px;
  }
  z-index:10;
  .menu-close {
    font-size: .8em;   
    @include breakpoint(adult) { 
      display: none;
    }
  }
  .menu-close:hover, .menu-close:active {
    cursor: pointer
  }
  ul.nav {
    margin-top: 1em;
    border-bottom: solid thin $color2; /* red line divider */
    @if $alumni {
      margin-top: 0em;
    }
    @include breakpoint(adult) { 
      border:none;
      display: inline-block;
      float: left;
      width: auto;
      margin-top: .5rem;
      @include ie8 {
        margin-top: .5em;
      }
    }
    li {
      display: block;
      text-align: center;
      width: 50%; /*if you change this, must change .col-section:nth-of-type in grid.scss*/
      float: left;
      padding: $margin 0 $margin3;
      @if $alumni {
        padding-bottom: $margin3/2;
      }
      @include breakpoint(teen-all) {
        margin-bottom: 2em;
      }
      @include breakpoint(adult) {
        display: inline;
        border: none;
        padding: 0;
        padding-right: $margin2;
        width: auto;
      }
    }
  }
  @if $alumni {
    ul.alumni {
      padding-bottom: $margin2
    }
    ul.alumni li{
      @include breakpoint(teen-sleep) {
        margin-bottom: 0;
      }
    }
  }
  /*extra menu, just the header*/
  ul.extra {
    margin-top: $margin2*2;
    font-size: .7em;
    /*symmetrical space above and below red line */
    @if $alumni {
      @include breakpoint (teen) {
        padding-top: 2em;
      }
    }
    @else {
      @include breakpoint (teen-all) {
        padding-top: 2em;
      }
    }
    @include breakpoint(adult) {
      @if $alumni{
        margin-top: 2em;
        margin-right: .4em;
      }
      @else {
        margin-top: .7em;
      }
      padding-top: 0em;
    }
  }
}
footer ul.extra {
  text-transform: uppercase;
  font-size: .7em;
  margin-top: $margin2*2;
  @include breakpoint(adult) {
     display: none;
  }
}

/*use is-expanded for drupal sitemap*/
.menu-icon, .is-expanded:nth-child(1) .menu__link, .is-expanded:nth-child(2) .menu__link, .is-expanded:nth-child(3) .menu__link, .is-expanded:nth-child(4) .menu__link {
  background-repeat:no-repeat;
}

.mainnav .menu-icon, footer ul.extra .menu-icon {
  /*on fly out menu, image is large, top, center*/
  background-size:auto 3em;
  background-position: center top;
  padding-top: 3.2em;
  background-repeat:no-repeat;
  /*on desktop, menu icons are small and left*/
  @include breakpoint(adult) {
    padding-top: 3px;
    background-size: auto 14.5px;
    background-position: left center;
    padding-left: 1em;
  }
  /*hack for lack of background elements in ie8*/
  @if $ie8 {
    padding-top: 5px;
    padding-left: 1em;   
  }
}
@if $ie8 {
  footer ul.extra .menu-icon {
    padding-left: 0;   
  }
}  


.sitemap-comp .menu-icon, .is-expanded .menu__link {
  @include breakpoint (teen-up) {
    padding-top: 0px;
    background-size: auto 14.5px;
    background-position: left center;
    padding-left: 1em;
    background-repeat:no-repeat;
  }
}



/*icons on footer .extra are top centered */
  footer ul.extra .menu-icon  {
    @include breakpoint(adult) {
      background-position: top center;
      padding: 1.6em 0em 0em 0em;
    }
  }

@if $alumni {
  .sitemap-simple .menu-icon  {
    /*icons on alumni sitemap desktop are large */
    @include breakpoint(teen-up) {
      background-size:auto 30px;
      background-position: center top;
      padding-top: 32px;
      background-repeat:no-repeat;
    }
  }
  .mainnav ul.extra .menu-icon {
    @include breakpoint(adult) {
      padding: 16px 0em 0em 0em;
      background-position: center top;
    }
  }
}

@else {
  ul.extra .menu-icon {
    @include breakpoint(adult) {
      padding: 0em 0em .4em 2.2em;
    }
  }
}

@import "nav_icons";

/*turn off background images in drupal*/
@if $drupal {
  .is-expanded .is-leaf .menu__link  {
    background: none;
    padding-left: 0;
  }
} 


.toggle-menu-icon:hover {
  cursor: pointer;
}

@include breakpoint (baby){
  /*javascript fires new class, which moves menu */
  body.menu-on .mainnav {
    transform: translate(0%);
  }
}
@include breakpoint (teen-all){
  /*javascript fires new class, which moves menu */
  body.menu-on .mainnav {
    transform: translate(0%);
  }
}