.mainnav, footer  {
  /*menu is set up as a ul, but renders as inline*/
  ul {
    list-style-type:none;
    padding-left: 0px;
  }
  /*this is for a secondary menu, renders as a list of icons with labels
  both mainnav and footer*/
  ul.extra {
    width: 100%;
    padding: 0 $margin2;
    /*on desktop, a string of small icons on right*/
    @include breakpoint(adult) {
      float: right;
      width: auto;
      display: inline;
      padding: .8em 0 0;
      vertical-align: top;
      .mobileonly {
        display: none;
      }
    }
    
    li {
      text-align: center;
      width: 25%;
      float: left;
      @include breakpoint(adult) {
        padding-left: .9em;
        width: auto;
        display: inline;
        float: left;
        img {
          display: block;
        }
        @include ie8 {
          margin-left: .3em;
        }
      }
    }
  }
  @if $alumni {
    ul.log {
      padding: 0;
      @include breakpoint (adult) {
        padding: .8em 0 0;
      }
      li {
        width: 20%;
        @include breakpoint (adult) {
          width: auto;

        }
      }
    }
  }
}

.mainnav {
  width: 100%; /* is this the right choice? */
  height:100%;
  position:fixed;
  overflow: scroll;
  display: block;
  top:0px;
  left:0px;
  background: #333;
  color:#fff;
  padding:3%;
  text-transform:uppercase;
  box-shadow:inset 0 0 1em .2em #222;
  @include transform( translate(-105%) );
  @include breakpoint(adult) { 
    position: relative;
    overflow: visible;
    padding: 0rem 1rem;
    @include ie8 {
      padding: 0em 1em;
    }
    @include transform( translate(0%) );
    box-shadow:none;
    font-size: .9em;
    margin-bottom: 0px;
  }
  z-index:10;
  .menu-close {
    font-size: .8em;   
    @include breakpoint(adult) { 
      display: none;
    }
  }
  .menu-close:hover, .menu-close:active {
    cursor: pointer
  }
  ul.nav {
    margin-top: 1em;
    border-bottom: solid thin $color2; /* red line divider */
    @if $alumni {
      margin-top: 0em;
    }
    @include breakpoint(adult) { 
      border:none;
      display: inline-block;
      float: left;
      width: auto;
      margin-top: .5rem;
      @include ie8 {
        margin-top: .5em;
      }
    }
    li {
      display: block;
      text-align: center;
      width: 50%; /*if you change this, must change .col-section:nth-of-type in grid.scss*/
      float: left;
      padding: $margin 0 $margin3;
      @if $alumni {
        padding-bottom: $margin3/2;
      }
      @include breakpoint(teen-all) {
        margin-bottom: 2em;
      }
      @include breakpoint(adult) {
        display: inline;
        border: none;
        padding: 0;
        padding-right: $margin2;
        width: auto;
      }
    }
  }
  @if $alumni {
    ul.alumni {
      padding-bottom: $margin2
    }
    ul.alumni li{
      @include breakpoint(teen-sleep) {
        margin-bottom: 0;
      }
    }
  }
  /*extra menu, just the header*/
  ul.extra {
    margin-top: $margin2*2;
    font-size: .7em;
    /*symmetrical space above and below red line */
    @if $alumni {
      @include breakpoint (teen) {
        padding-top: 2em;
      }
    }
    @else {
      @include breakpoint (teen-all) {
        padding-top: 2em;
      }
    }
    @include breakpoint(adult) {
      margin-top: 0;
    }
  }
}
footer ul.extra {
  text-transform: uppercase;
  font-size: .7em;
  margin-top: $margin2*2;
  @include breakpoint(adult) {
     display: none;
  }
}

.menu-icon2{
  /*on fly out menu, image is large, top, center, on desktop it is small and left*/
  padding-top: 3.2em;
  background-size:auto 3em;
  background-repeat:no-repeat;
  background-position: top center;
  @include breakpoint(adult) {
    padding-top: 0;
    background-size:auto .95rem;
    padding-left: 1.3em;
    background-position: 0 0; 
  }
}

ul.extra .menu-icon2 {
  @include breakpoint(adult) {
    padding: 0em 0em .4em 2.3em;
  }
}

/*individual icon images*/
.icon-impact {
  background-image:url('../img/menu-icon-png/globe.png');
}
.icon-impact:hover {
  background-image:url('../img/menu-icon-png/ways3-02.png');
}
.icon-ways {
  background-image:url('../img/menu-icon-png/ways3-02.png');
}
.icon-supporters {
  background-image:url('../img/menu-icon-png/group.png');
}
.icon-news {
  background-image:url('../img/menu-icon-png/news2.png');
}
.icon-contact {
  background-image:url('../img/menu-icon-png/envelope2.png');
}
.icon-search {
  background-image:url('../img/menu-icon-png/search2.png');
}
.icon-profile {
  background-image:url('../img/menu-icon-png/profile.png');
}
.icon-giving {
  background-image:url('../img/menu-icon-png/credit-card.png');
}




/*icons adjacent to text on menu items */
.menu-icon {
  height: 3em;
  max-height: 50px;
  display: block;
  margin: auto;
  width: auto;
  margin-bottom: .2em;
  @include breakpoint(adult) {
    width: auto;
    display: inline;
    padding-right: .3rem;
    height: .9rem;
    margin-bottom: 0;
    @include ie8 {
      padding-right: .3em;
      height: 15px;
    }
  }
}



.toggle-menu-icon:hover {
  cursor: pointer;
}
.sitemap .menu-icon {
  display: none;
  width: auto;
}
/*icons show on sitemap in teen and adult */
@include breakpoint(teen-up) {
 /*small inline icons for giving sitemap*/
 .sitemap-comp .menu-icon  {
    display: inline;
    height: .9rem;
    padding-right: .3rem;
    margin: 0;
    @include ie8{
      height: .9em;
      padding-right: .3em;
    }
  }
  /*large block icons for alumni sitemap*/
  .sitemap-simple .menu-icon {
    display: block;
    height: 2em;
  }
}
ul.extra .menu-icon {
  padding-right: 0;
  @include breakpoint(adult) {
  padding-right: 0;
  padding-left: 0;
  width: auto;
  max-height: 1.5em;
  }
  @include ie8 {
    max-width: 2em; 
  }
}
/*javascript fires new class, which moves menu */
body.menu-on .mainnav {
  @include transform( translate(0%) );
}
