/* Sidemenu */


/* this can be replaced, if all menus are icon based*/
.sidemenu, footer,  {
  a:link, a:visited, a:active, a:hover {
    color: white;
    width: 100%;
    display: block;
    @include breakpoint(adult) {
      display: inline;
    }
  }
  ul {
    list-style-type:none;
    padding-left: 0px;
  }
  ul.extra {
    width: 100%;
    /*I'm not sure if this needs to be flexbox, now that everything is top aligned */
    @include flexbox;
    /* don't need this anymore. with icons, everything should be top aligned
    @include align-items(center);
    */ 
    padding: 0 $margin2;
    @include breakpoint(adult) {
      width: $extrawidth; 
      display: inline-block;
      text-align: right;
      margin: 0;
      padding: 0;
      /*hides text, just the icons show */
      font-size: 0em;
      .mobileonly {
        display: none;
      }
    }
    
    li {
      text-align: center;
      @include flex-basis(25%);
      @include breakpoint(adult) {
        display: inline;
        margin-left: .3rem;

      }
    }
  }
}


.sidemenu {
  width: 100%;
  height:100%;
  position:fixed;
  display: block;
  top:0px;
  left:0px;
  background: #333;
  color:#fff;
  padding:3%;
  overflow: scroll;
  text-transform:uppercase;
  -webkit-box-shadow:inset 0 0 1em .2em #222;
  -webkit-transform:translate(-105%);
  -moz-transform:translate(-105%);
  @include breakpoint(adult) { 
    position: relative;
    padding: 0rem 1rem;
    -webkit-transform:translate(0%);
    -webkit-box-shadow:none;
    font-size: .9em;
    margin-bottom: 0px;
  }
  z-index:999;
   
  .menu-close {
    font-size: .8em;   
    @include breakpoint(adult) { 
      display: none;
    }
  }
  .menu-close:hover, .menu-close:active{
    cursor: pointer
  }

  ul.nav {
    margin-top: 1em;
    border-bottom-style:solid;
    border-bottom-width:thin;
    border-bottom-color:$color2;
    @include breakpoint(adult) { 
      border:none;
      display: inline-block;
      width: $navwidth;
      margin-top: .5rem;
      
    }
    li {
      border-bottom: 1px solid #1A1A1A;
      border-top: 1px solid #4D4D4D;
      display: block;
      text-align: center;
      padding: $margin2;
      @include breakpoint(adult) {
        display: inline;
        border: none;
        padding: 0;
        padding-right: $margin2;
      }
    }
    li:first-of-type {
      border-top: none;
    }
    li:last-of-type {
      border-bottom: none;
    }
  }
  ul.extra {
    margin-top: $margin2*2;
    font-size: .8rem;
    margin-bottom: 50px;
  }
 
}

/*too much space between redline and text on alumni menu because of the <br> before login, the <br> is there to force the <hr> to vertical align with the rest of the text  */
.alumni ul.extra{
    margin-top: 0;
  }



footer ul.extra {
  text-transform: uppercase;
}

/*icons adjacent to text on menu items */
.menu-icon {
  height: 3em;
  width: 100%;
  @include breakpoint(adult) {
    height: .9rem;
    padding-right: .3rem;
  }
}

ul.extra .menu-icon {
  width: 100%;
  padding-right: 0;
  @include breakpoint(adult) {
  padding-right: 0;
  padding-left: .3rem;
  width: auto;
  }
}


body.menu-on .sidemenu {
  -webkit-transform:translate(0%);
 }

/*this makes the main body fade out when the sidemenu goes, but unfortunately also affects the sidemenu now that I moved it inside the wrapper
body.menu-on .wrapper {
    opacity: 0;
}
*/



/*this should be folded into above code after icons for alumni pages is figured out */

@include breakpoint(adult) {
  .iconnav {
    ul:after {
     content: '';
     display: table;
    }
    ul.nav li
      {
        width: 50%; /*if you change this, must change .col-section:nth-of-type in grid.scss*/
        float: left;
        border-style: none;
        padding: $margin 0 $margin3
      } 
    ul.extra {
      font-size: .7em;
      .menu-icon {
        height: 3em;
      }
    } 
  }
  ul.iconfooter {
    font-size: .7em;
    margin-top: $margin2*2;
      .menu-icon {
        height: 3em;
      }
  }

}






/* End of Sidemenu */