/*navigation at footer of page*/
.sitemap {
  text-align: left;  
  padding: 0 $margin2;
  li {
  	text-transform: uppercase;
    
  	ul {
      margin: 0;
  	}
  	ul li{
		font-size: .8em;
		text-transform: none;
    margin-bottom: 0;
    padding-bottom: .7em;
    width: 100%;
    @include breakpoint(adult) {
      padding: .1em 0;
    }
  	} 
  }
}

.sitemap-comp {
  li {
    margin-bottom: $margin2*2;
  }
}

/*alumni channel does not have tertiary links */
.sitemap-simple {
  ul {
    width: 50%;
    float: left;
    padding-right: $margin2;
    li {
      margin-bottom: $margin2;
    }
    ul {
      width: 100%;
    }
  }
}


/*some additional rules are in the _nav.scss that define how the grid is arranged */