.sitemap {
  text-align: left;
  margin: $margin2*2;
  background: red;
  li {
  	margin-bottom: $margin2*2;
  	text-transform: uppercase;
  	ul {
      margin: 0;
  	}
  	ul li{
		font-size: .8em;
		text-transform: none;
    margin-bottom: 0;
    padding-bottom: .7em;
    width: 100%;
  	} 
  }
}

footer ul.secondaryextra { 
  @include justify-content(space-between);
  li{
    @include flex-basis(auto);
    padding-right: 10px;
  }
}