.social {
	position: fixed;  /*position at bottom right of page */
	bottom: 0;
	right: 0;
	color: white;
	width: 100%;
	max-width: 200px;
	
	
	
	ul {
		list-style-type: none; /*could probably combine with menu rule */
		width: 100%;
		margin: 0;
		padding: 0;
		text-align: center;
		clear: left;
		
	}
	/*clearflix could combine */
	ul:after {
		display: table;
		content: "";
	}

	
	li {
		padding: $margin;
		display: inline;
		width: 50%;
		float: left;
	}
}

.follow {
	padding: $margin;
	text-align: right;
	font-size: .8em;
	background-color: $color1;
	@include transform( translateY(125%) );
}



.socialnav {
	background: rgba(59, 89, 152, .93);
	li {
		
	}
}

	
.socialnav li:hover {
	background-color: $color1;
}

body.followactive {
		.follow-toggle {
			background-color: $color1;
		}
		.follow {
			@include transform( translateY(0%) );
			
		}
	}