.social {
	color: white;
	width: 100%;
	max-width: 200px;
	z-index: 2;
	position: fixed;  /*position at bottom right of page */
	bottom: 0;
	right: 0;
	ul {
		list-style-type: none; /*could probably combine with menu rule */
		width: 100%;
		margin: 0;
		padding: 0;
		text-align: center;
		clear: left;
	}
	/*clearflix could combine 
	ul:after {
		display: table;
		content: "";
	}*/
	
	li {
		display: inline;
		width: 50%;
	}
 	a {
		color: white;
		cursor: pointer;
}
	/*this graphic has a white background */
	.addthis_counter a {
		color: black;
	}
}

.follow, .share {
	padding: $margin;
	text-align: right;
	font-size: .8em;
	background-color: $color1;
	@include transform( translateY(100%));
	/*transform does not work in ie8*/
	@include ie8 {
		bottom: -100%;
	}
	li {
		padding: $margin;		
		float: left;
	}
	
}

.socialnav {
	z-index: 4;
	a {
		padding: $margin;
		width: 50%;
		display: inline-block;
		float: left;
		/*facebook blue*/
		background: transparentize($colorfacebook, .07);
		@include ie8 {
			background: $colorfacebook;
		}
	}
	a:hover {
		background: $color1;
	}
}

/*this selector is fired with javascript*/
body.follow-on {
		.follow-toggle {
			background-color: $color1;			
			a {
				background: $color1;
			}
		}

		.follow {
			opacity: 1;
			z-index: 3;	
			padding-bottom: 50px;
			@include transform( translateY(0%) );
			@include ie8 {
				bottom: 0;
			}
		}
	}

body.share-on {
		.share-toggle {
			background-color: $color1;
			a {
				background: $color1;
			}
		}
		.share {
			opacity: 1;
			padding-bottom: 50px;
			@include transform( translateY(0%) );
			@include ie8 {
				bottom: 0;
			}
		}
	}

body.social-off .social {
	opacity: 0;
	display: none;
	@include breakpoint (adult){
		opacity: 1;
		display: block;
	}	
}