.social {
	color: white;
	width: 100%;
	max-width: 150px;
	z-index: 2;
	position: fixed;  /*position at bottom right of page */
	bottom: 0;
	right: 0;
	ul {
		list-style-type: none; /*could probably combine with menu rule */
		width: 100%;
		margin: 0;
		padding: 0;
		text-align: center;
		clear: left;
	}
	/*clearflix could combine 
	ul:after {
		display: table;
		content: "";
	}*/
	
	li {
		display: inline;
		width: 50%;
	}
 	a {
		color: white;
		cursor: pointer;
}
	/*this graphic has a white background */
	.addthis_counter a {
		color: black;
	}
}

/*override add this styles*/
.addthis_counter {
	margin-top: .9em !important;
	float: none !important;
}

.follow, .share {
	text-align: right;
	font-size: .8em;
	background-color: $color1;
	padding-top: $margin;
	transform: translateY(100%);
	/*transform does not work in ie8*/
	@include ie8 {
		bottom: -100%;
	}
	li {
		/*icons form two rows*/
		float: left;
		/*magic number to center icons*/
		a {
			margin: 0.9em 22%;
		}
	}
}
/* not using this anymore
close text gets spacing
.social-close {
	padding: $margin;
	display: inline-block;
}
*/

.socialnav {
	z-index: 4;
	a {
		padding: $margin;
		width: 50%;
		display: inline-block;
		float: left;
		font-size: .7em;
		/*facebook blue*/
		background: transparentize($colorfacebook, .07);
		@include ie8 {
			background: $colorfacebook;
		}
		@if $alumni {}
		@else {
			/*need padding for sprites*/
			padding-top: 3em;
		}
	}
	a:hover {
		background: $color1;
	}
}

@if $alumni {
	.socialicon {
		height: 20px;
		display: block;
		margin: 0 auto;
		width: auto;
	}	
}
@else {
	/*use sprite instead of single html image*/
	.share-open-text, .follow-open-text {
		background-image: url('../img/menu-icon/givingtablet-sc1d7db3c43.png');
		background-size: 2.9em auto;
		padding-top: 3em;
		background-repeat:no-repeat;
		@include breakpoint (adult) {
			background-image: url('../img/menu-icon/giving16-s7f2632750d.png');
		}
	}
	.share-open-text{
		background-position: center 94%;
		@if $ie8 {
			/*ie8 can't resize image, so use non sprite instead*/
			background-image: url('../img/menu-icon/16px/share.png');
			background-position: center 50%;
		}
		@else {
			@include breakpoint (adult) {
				background-position: 6px 46.5%;
				
			}
		}
	}
	.follow-open-text{
		background-position: center 101.4%;
		@if $ie8 {
			background-image: url('../img/menu-icon/16px/follow.png');
			background-position: center 50%;
		}
		@else {
			@include breakpoint (adult) {
				@media screen and (-webkit-min-device-pixel-ratio:0) {
          background-position: center -4.2%;
        }
				background-position: center -4.4%;
			}
		}
	}			
}


/*this selector is fired with javascript*/
body.follow-on {
		.follow-toggle {
			background-color: $color1;			
			a {
				background: $color1;
			}
		}

		.follow {
			opacity: 1;
			z-index: 3;	
			padding-bottom: 55px;
			@include transform( translateY(0%) );
			@include ie8 {
				bottom: 0;
			}
		}
		/*When activated and on hover, change text after social media icon*/
		.follow-toggle:hover .follow-open-text:after{
			content: "Close X";
		}
		/*when one is activated, blur the non activated icon*/
		.share-toggle .socialicon {
			opacity:0.4;
			filter:alpha(opacity=40); /* For IE8 and earlier */
		}
		/*when one is activated and non activated is hovered: unblur the non activated icon*/
		.share-toggle:hover .socialicon {
			opacity:1;
			filter:alpha(opacity=100); /* For IE8 and earlier */
		}
	}

/*set text after social media icon*/


.share-open-text:after{
	content: "Share";
}
.follow-open-text:after{
	content: "Follow";
}

body.share-on {
		.share-toggle {
			background-color: $color1;
			a {
				background: $color1;
			}
		}
		.share {
			opacity: 1;
			padding-bottom: 55px;
			transform: translateY(0%);
			@include ie8 {
				bottom: 0;
			}
		}
		/*When activated and on hover, change text after social media icon*/
		.share-toggle:hover .share-open-text:after{
			content: "Close X";
		}
		/*when one is activated, blur the non activated icon*/
		.follow-toggle .socialicon {
			opacity:0.4;
			filter:alpha(opacity=40); /* For IE8 and earlier */
		}
		/*when one is activated and non activated is hovered: unblur the non activated icon*/
		.follow-toggle:hover .socialicon {
			opacity:1;
			filter:alpha(opacity=100); /* For IE8 and earlier */
		}
	}
/*css turned on by javascript*/
body.social-off .social {
	/*with transitions it fades out. In case they have a keyboard attached, it still looks nice*/
	opacity: 0;
	/*don't want it to interfere with keyboard or fields*/
	display: none;
	/*still works with large screens, which presumably don't have on screen keyboards*/
	@include breakpoint (adult){
		opacity: 1;
		display: block;
	}	
}