.header .title {
	font-size: 1em;
	font-weight: 500;
	line-height: .5em;
	margin: 0;
	text-align: left;
	text-transform: none;
	/*@include flex-grow(1); */
	@include breakpoint (teen-up) {
		color: #FFF;
		font-size: 2.2em;
		font-weight: 700;
		text-transform: uppercase;   
	}
	@include breakpoint (adult) {
		font-size: 2.8em;
	}
}
.header .title .part2 {
	color: #FFF;
	display: block;
	font-size: 1.6em;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.1em;
	@include breakpoint(teen-up) {
		display: inline;
		margin-left: .2em;
		font-size: 1em;
		line-height: 1em;
	}
}

.tagline {
	@include breakpoint(baby) {
		display: none;
	}
	@if $alumni {
		/*association doesn't show up until desktop*/
		@include breakpoint(teen-all) {
			display: none;
		}
	}
	@else {	
		/*tagline is small and gray*/
		color: #CCC;
		font-weight: 500;
		font-size: .6em;
		text-transform: none;	
	}
}