figcaption {
	font-size:.8em;
	font-weight: 500;
	/*text-align: justify;*/
	 @include breakpoint(big-baby-sleep) { 
		font-size: .5em;
	}
}

.read 
	{figcaption {
		@include breakpoint(teen-up) {
			width: $smallratio;
			float: left;
			clear: left;
			font-weight: normal;
			margin-left: $margin4;
			text-align: left;
			display: inline;
		}
	}
	/*add right margin/gutter on figcaption fullimg and imgright with sidebar*/
	@include breakpoint(teen-up) {
		.fullimg, .imgright {
			figcaption{
			margin-right: $margin2;
			}
		}
		/*turn off for .full, gutters are set elsewhere*/
		.layout-full figcaption /*see drupal conditional*/{	
				margin-right: 0;
		}
	}	
}

@if $drupal /*see layout-full figcaption*/{
	.layout-full-read figcaption {	
		margin-right: 0;
	}
}

.symmetry figcaption {
	width: auto;
	margin-left: 0;
	margin-right: 0;
}

.aside figcaption {
	@include breakpoint(teen-up) {
		margin-left: 0;
	}
}


aside {
	@include breakpoint(teen-up) {
		font-size:.8em; 
		p {
			text-align: left;
		}
	}
	@include breakpoint(adult) {
		p {
			font-size: .9em;
		}
	}
	
}
