figcaption, 
.field-name-field-caption /*drupal lead image*/,
.field-name-field-image-caption /*drupal media caption*/{
	font-size:.8em;
	font-weight: 500;
	/*text-align: justify;*/
	 @include breakpoint(big-baby-sleep) { 
		font-size: .5em;
	}
}


figcaption, 
.field-name-field-caption /*drupal lead image*/,
.field-name-field-image-caption /*drupal media caption*/ {
	@include breakpoint(teen-up) {
		clear: left;
		font-weight: normal;
		text-align: left;
		
	}
}
/*add right margin/gutter on figcaption fullimg and imgright with sidebar*/
@include breakpoint(teen-up) {
	.fullimg,
	.media-fullimg, /*drupal media*/,
	.field-name-field-media /*drupal lead image*/, 
	.imgright,
	.media-imgright /*drupal media*/
	 {
		figcaption, 
		.field-name-field-caption /*drupal lead image*/,
		.field-name-field-image-caption /*drupal media caption*/ {
		margin-right: $margin2;
		}
	}
}	
@if $ie8{
	/*imgright as if symmetry*/
	.imgright,
	.media-imgright /*drupal media*/{
		figcaption, 
		.field-name-field-caption /*drupal lead image*/,
		.field-name-field-image-caption /*drupal media caption*/ {
		margin-right: 0;
		}
	}
}


figcaption, 
.field-name-field-caption /*drupal lead image*/,
.field-name-field-image-caption /*drupal media caption*/ {
	@include breakpoint(adult) {
		max-width: 37em; /*captions shouldn't be wider than picture*/
	}
}	


/*no left page margin, so add margin to the caption*/
@include breakpoint(teen-up) {
	/*read layouts*/
	.read, 
	.bleed .content, /*imodules*/
	.layout-full-read, .layout-read {
		figcaption, 
		.field-name-field-caption /*drupal lead image*/,
		.field-name-field-image-caption /*drupal media caption*/ {	
			margin-left: $margin4;
		}
	}
	/* read full layouts*/
	.read .layout-full /*static*/,
	.layout-full-read /*drupal*/, 
	.bleed .layout-full /*imodules*/ {
		figcaption, 
		.field-name-field-caption /*drupal lead image*/,
		.field-name-field-image-caption /*drupal media caption*/ {	
			width: $smallratio; /*restrict caption to negative space sidebar*/
			display: inline;
			float: left;
		}
	}
}

/*turn off for .full, gutters are set elsewhere*/
/* .layout-full, forces lead image figcaption off page */
.withsidebar .fullimg,
.withsidebar .imgright,
.bleed .layout-sidebar .fullimg,
.bleed .layout-sidebar .imgright
{
	figcaption, /*see drupal conditional*/
	.field-name-field-caption /*drupal lead image*/,
	.field-name-field-image-caption /*drupal media caption*/{	
		margin-right: 0;
	}
}



.read, 
.bleed .content, /*imodules*/
.layout-full-read, .layout-read {
	.aside,
	.media-aside /*drupal media*/ {
		figcaption,
		.field-name-field-caption /*drupal lead image*/,
		.field-name-field-image-caption /*drupal media caption*/ {
			@include breakpoint(teen-up) {
				margin-left: 0;
			}
		}
	}
}
@if $drupal /*see layout-full figcaption*/{
	.layout-full-read {
		.field-name-field-caption /*drupal lead image*/,
		.field-name-field-image-caption /*drupal media caption*/  {	
			margin-right: 0;
		}
	}
	/*caption for aside should be full width*/
	.media-aside .field-name-field-image-caption /*drupal media caption*/{
		width: 100%;
	}
}

.symmetry, 
.media-symmetry /*drupal media*/ {
	figcaption, 
	.field-name-field-caption /*drupal lead image*/,
	.field-name-field-image-caption /*drupal media caption*/ {
		width: auto;
		margin-left: 0;
		margin-right: 0;
	}
}

@if $ie8 {
	/*imgright as if symmetry*/
	.imgright, 
	.media-imgright /*drupal media*/ {
		figcaption, 
		.field-name-field-caption /*drupal lead image*/,
		.field-name-field-image-caption /*drupal media caption*/ {
			width: auto;
			margin-left: 0;
			margin-right: 0;
		}
	}
}



/* this was breaking the figcaption in drupal
.aside figcaption {
	@include breakpoint(teen-up) {
		margin-left: 0;
	}
}
*/

aside, #block-views-aside-block, .aside {
	@include breakpoint(teen-up) {
		font-size:.8em; 
		p {
			text-align: left;
		}
	}
	@include breakpoint(adult) {
		p {
			font-size: .9em;
		}
	}
}
/*on full layout, aside priority3 is regular size*/
.layout-full, .layout-full-read {
	aside.priority3 /*static*/,
	#block-views-aside-block /*drupal*/ {
		font-size: 1em;
	}
}

