h1, h2, h3, h4, h5, h6, .tagline, .field-name-field-subtitle /* this is replaces pageheader h2 in drupal*/ {
	font-family: "franklin-gothic-urw-cond", "franklin-gothic-urw", verdana, sans-serif;
	font-weight: 700;
}

h1, h2, .header .title {
	text-transform: uppercase;
	margin-top: 0px;
	text-align: center;
	@include breakpoint(teen-up) {
		text-align: left;
	}
}


h1 {
	font-size: 1.9em;
	line-height: 1em;
	margin: 0.2em 0 0;
	@include breakpoint(big-baby-sleep) { 
		font-size: 1.5em; 
	}
	@include breakpoint(teen-up) { 
		font-size: 1.9em; 
	}
}

.read h1,
.bleed h1, /*iModules*/ 
.layout-full-read h1,  /*drupal*/
.layout-read h1 /*drupal*/{
	@include breakpoint(teen-up) { 
		font-size: 3em;
		text-align: left;
		margin-left: $margin4;
		margin-right: $margin4;
	}
}

/*on event page, float h1 on left side*/
.single h1 {
	@include breakpoint(teen-up) { 
		margin-bottom: 1em;
		max-width: 100-$smallratio;
		float: left;
	}
}

h2 {
	font-size:1.6em; 
	margin-bottom: .2em;
	}

.grid-wrap, #block-views-subpage-menu-block /*drupal replaces .grid-wrap */, 
.read,
.bleed .content, /*imodules*/
.layout-full-read, /*drupal*/
.layout-read /*drupal*/
 { 
	h2 {
		font-size:1.2em;
	}
}
article h2 {
	color: $textmain;
	text-align: left;
	margin-top: $margin2;
}




.read,
.bleed .content , /*imodules*/
.layout-full-read article,
.layout-read article{
	h2, h3, h4, h5, h6  {
		@include breakpoint(teen-up) { 
			margin-left: $margin4;
			color: $lighttext;
			text-transform: none;
			margin-top: $margin2*3;
		}
	}
	/*to be used when h2 is preceded by a relevant image*/
	h2.squeeze {
		margin-top: 0;
	}
	aside, .aside {
		h2, h3, h4, h5, h6 {
			@include breakpoint(teen-up) { 
			margin-left: 0;
			color: black;
			text-transform: uppercase;
			margin-top: 0;
			}
		}
	}
}


@if $drupal {
	/*set margin to boy instead of pageheader*/
	.field-name-field-subtitle, #block-views-subpage-menu-block .views-row h2 {
		text-align: center;
		text-transform: uppercase;
	}
	.field-name-body /*beginning of text body*/, 
	.layout-read #block-views-aside-block /*beginning of aside*/, 
	.field-name-field-media /*lead image*/{
		margin-top: $margin2;
		@include breakpoint(adult) {
			margin-top: $margin2*2;
		}
	}
	.pageheader h2, .field-name-field-subtitle {
		font-size: 1.1em;
		color: $lighttext;
		@include breakpoint(teen-up) { 
			text-align: left;
			font-size: 1.2em;
			margin-bottom: 0;
			text-transform: uppercase;
			margin-left: 0;	
		}
	}
}
@else {
	section h2, 
	.pageheader h2, {
		text-align: center;
		margin: 0 0 $margin2;
	}
	.pageheader h2 {
		font-size: 1.1em;
		color: $lighttext;
		@include breakpoint(teen-up) { 
			text-align: left;
			font-size: 1.2em;
			margin-bottom: 0;
			text-transform: uppercase;
			margin-left: 0;	
		}
		@include breakpoint(adult) {
			margin-bottom: $margin2*2;
		}
	}
}

.read .maincontent .pageheader h2,
.bleed .priority1and2 .pageheader h2, /*imodules*/
.layout-full-read .field-name-field-subtitle,
.layout-read .field-name-field-subtitle {
	@include breakpoint(teen-up) { 
		padding: 0 $margin4;
		width: 100%;
		margin-left: 0;	
		margin-top: 0;
	}
}

.read .maincontent .pageheader h2,
.bleed .maincontent .pageheader h2 /*imodules*/{
	@include breakpoint(adult) {
		margin-bottom: $margin2*2;
	}
}

/*do i need this? */
.gridtext h2 {
	text-align: left;
	line-height: 1em;
}

section h2 {
	margin-bottom: 0em;
}



h3 {
	font-size: 1.17em;
	margin: 0 0 .3em;
	text-transform: uppercase;
}

.donate h3 {margin-top: .7em;}

@if $alumni {
	.details h3 {
		font-size: 1em;
		margin-top: 0em;
		margin-bottom: 0;
		font-family: "franklin-gothic-urw", verdana, sans-serif;
		font-weight: 300;
		text-transform: none;
	}
}


h4 {
	font-size: 1em;
	margin: 1.33em 0;
}


h5 {
	font-size: 0.83em;
	margin: 1.67em 0;
}

h6 {
	font-size: 0.67em;
	margin: 2.33em 0;
}