/* Typography */


/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Address font sizes and margins set differently in IE 6/7.
 * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */

body {
	color: $textmain; 
	font-family: "franklin-gothic-urw", verdana, sans-serif;
	font-size: 16px;
}


@import "typography-h";
@import "typography-p";
@import "typography-semantic-misc";
@import "typography-figure-aside";
@import "typography-header";
@import "typography-event"; 



/*.summary {
	font-style:italic;
	font-weight: bold;
	font-size: .9em}*/
@if $drupal {
	#content {
		@include breakpoint(teen) /*just teen, because ipad automatically increases font size on landscape*/ {
			font-size: 1.2em;
		}
		@include breakpoint(adult) {
			font-size: 1.3em;
		}
	}	
}
@else {
	.content {
		@include breakpoint(teen) /*just teen, because ipad automatically increases font size on landscape*/ {
			font-size: 1.2em;
		}
		@include breakpoint(adult) {
			font-size: 1.3em;
		}
	}
}

@import "typography-quote";

/* End of Typography */