p,
pre {
	margin: 0 0 .8em;
	line-height: 1.3em;
}

@if $drupal {
	p, #content ul, #content ol {
		font-weight: 300;
		max-width: 33em;
		/*text-align: justify;*/
		font-size: 1.1em;
		line-height: 1.4;
		/*@include breakpoint(big-baby-sleep) { 
			font-size: .7em; 
		}*/
		@include breakpoint(teen-up) {
			font-size: .9em; /*lowered by .1 for paragraph on intro to grid*/
			line-height: 1.3em;
		}
		
		
		
	}
}

@else {
	p, .content ul, .content ol {
		font-weight: 300;
		max-width: 33em;
		font-size: 1.1em;
		line-height: 1.4;
		@include breakpoint(big-baby-sleep) { 
			font-size: .7em;
		}
		@include breakpoint(teen-up) {
			font-size: .9em; /*lowered by .1 for paragraph on intro to grid*/
			line-height: 1.3em;
		}
	}
}

@if $drupal {
	#block-views-subpage-menu-block .views-row, .view-news /*news*/ {
		p {
			font-size: .9em;
			@include breakpoint(teen-up) { 
			  font-size: .8em;
			}
		}
	}
}
@else {
	.grid-wrap p {
		font-size: .9em;
		@include breakpoint(teen-up) { 
		  font-size: .8em;
		}
	}
}


@if $drupal {
	#block-views-subpage-menu-block .views-row p {
		text-align: center;
	}
}
@else {
	.grid-wrap p {
		text-align: center;
	}
	.gridtext p {
		text-align: left;
	}
}


/*used on alumni-classes to reduce white space between intro paragraph and boxes*/
p.squeeze {
	margin-bottom: 0;
}


@if $drupal{
	.layout-full-read, .layout-read {
		article {
			p {
				@include breakpoint(teen-up) { 
					margin-left: $margin4;
					font-size: 1.1em;	
				}
				@include breakpoint(adult) {
					font-size: .88em;
				}
			}
		}
	}
	.layout-read blockquote p /*if sidebar reduce white space*/{
		@include breakpoint(teen-up) { 
			margin-left: 0; 
		}
	}
}

@else{
	.read, 
	.bleed .content /*imodules*/{
		p {
			@include breakpoint(teen-up) { 
				margin-left: $margin4;
				font-size: 1.1em;
			
			}
			@include breakpoint(adult) {
				font-size: .88em;
			}
		}
		aside p {
			@include breakpoint(teen-up) { 
				margin-left: 0;
			}
		}
	}
}




.gray {
	color: #666;
}