/* Typography */


/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Address font sizes and margins set differently in IE 6/7.
 * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */

body {color: $textmain}

h1, h2 {
    text-transform: uppercase;
    margin-top: 0px;
    text-align: center;

}

h1 {
    font-size: 1.5em;
    margin: 0.3em 0 0;
}

h2 {font-size:1.2em; 
    margin-bottom: .2em;
        }

article h2 {
    font-size: 1em;
    color: $textmain;
    text-align: left;
    margin-top: 1.5em;
}

section h2, h2.subtitle {
    text-align: center;
    margin: 0 0 $margin

}

h2.subtitle {
    color: lighten($textmain, 30);
}

section h2 {
    margin-bottom: 0em;
}



h3 {
    font-size: 1.17em;
    margin: 0 0 .3em;
    text-transform: uppercase;
}

.donate h3 {margin-top: .7em;}

h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

h6 {
    font-size: 0.67em;
    margin: 2.33em 0;
}

p {
    font-size: 0.8em;
    max-width: 40em;
    text-align: justify;
}

/**
 * Address styling not present in IE 7/8/9, Safari 5, and Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */

b,
strong {
    font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */

dfn {
    font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 6/7 normalization.
 */

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

/**
 * Address styling not present in IE 6/7/8/9.
 */

mark {
    background: #ff0;
    color: #000;
}

/**
 * Address margins set differently in IE 6/7.
 */

p,
pre {
    margin: 0 0 .8em;
    font-size: .9em;
}

/**
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/**
 * Address CSS quotes not supported in IE 6/7.
 */

q {
    quotes: none;
}

/**
 * Address `quotes` property not supported in Safari 4.
 */

q:before,
q:after {
    content: '';
    content: none;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}


/*.summary {
    font-style:italic;
    font-weight: bold;
    font-size: .9em}*/

figcaption {
    font-size:.7em;
    font-weight: bold;
     text-align: justify;
}

@import "typography-quote";

/* End of Typography */