p.quote {
	display: none;
}


blockquote{
	line-height:1.2em;
	text-align: justify;
	font-weight: 500;
	margin-bottom: 0;
	@include breakpoint(big-baby-sleep) { 
    margin-left: 20%;
    font-size: .7em;
  }


}
blockquote:before{
	content: '\201C'; 
	font-size:2.75em;
	text-indent:-.5em;
	margin-top:.1em;
	opacity:.3;
	float: left;
	}

cite{
	display:block;
	text-transform:uppercase;
	letter-spacing:.1em;
	font-weight:700;
	font-style:normal;
	font-size:.7em;
	font-family: "franklin-gothic-urw-cond", "franklin-gothic-urw", verdana, sans-serif;
	margin: .4rem 2.2rem $margin2+$margin2 4em;	
	@include ie8 {
		margin: .4em 2.2em $margin2+$margin2 4em;	
	}
	@include breakpoint(big-baby-sleep) { 
	    margin-left: 20%;
	    font-size: .5em;
  	}
  	@include breakpoint(teen-up) {
		float: left;
		clear: left;
		width: 75%;
		margin-right: 25%;
  	}	
}


cite:before{
	content:"\2014";
	opacity:.3;
	}


.read, .layout-full-read, .layout-read {
	blockquote{
		@include breakpoint(teen-up) {
			float: left;
			clear: right;
			display: inline-block;
			max-width: 75%;
			margin-right: 25%;
			padding-left: $margin;
			font-size: 1.2em;
			color: $lighttext;
		}
	}
}


.read .withsidebar blockquote, .read .withsidebar cite {
	@include breakpoint(teen-up) {
		float: none;
		width: 100%;
		max-width: 80%;
		padding: 0 $margin4*2;
		display: block;
	}
}

.read .withsidebar blockquote {
	@include breakpoint(teen-up) {
		margin: $margin4 auto $margin2;
	}
}

.read .withsidebar cite {
	@include breakpoint(teen-up) {
		margin: 0 auto $margin4;
	}
}
