p,
pre {
	margin: 0 0 .8em;
}

p {
	font-weight: 300;
	max-width: 40em;
	text-align: justify;
	font-size: 1em;
	/*
	@include breakpoint(big-baby-sleep) { 
		font-size: .7em;
	}
	*/
}


.gridtext p {
	font-size: .9em;
	text-align: left;
	@include breakpoint(adult) { 
	  font-size: .8em;
	}
}

/*used on alumni-classes to reduce white space between intro paragraph and boxes*/
p.squeeze {
	margin-bottom: 0;
}


.read p {
	@include breakpoint(teen-up) { 
		margin-left: $margin4;
		font-size: 1em;
	
	}
	@include breakpoint(adult) {
		font-size: .9em;
	}
}




.read .sidebar p {
	@include breakpoint(teen-up) { 
		margin-left: $margin3;
	}
}

.read aside p {
	@include breakpoint(teen-up) { 
		margin-left: 0;
	}
}