/* Typography */


/* ==========================================================================
   Typography
   ========================================================================== */

/**
 * Address font sizes and margins set differently in IE 6/7.
 * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */

body {
	color: $textmain; 
	font-family: "franklin-gothic-urw", verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6, .tagline {
	font-family: "franklin-gothic-urw-cond", "franklin-gothic-urw", verdana, sans-serif;
	font-weight: 700;
}

h1, h2, .title {
	text-transform: uppercase;
	margin-top: 0px;
	text-align: center;
	@include breakpoint(adult) {
		text-align: left;
	}
}


h1 {
	font-size: 1.9em;
	line-height: 1em;
	margin: 0.2em 0 0;
	@include breakpoint(big-baby-sleep) { 
	font-size: 1.5em; 
	}
	@include breakpoint(teen-up) { 
	font-size: 1.9em; 
	}

}

.read h1 {
	@include breakpoint(teen-up) { 
		font-size: 3em;
		text-align: left;
		margin-left: $margin2;
		margin-right: $margin2;
	}
}

h2 {
	font-size:1.2em; 
	margin-bottom: .2em;
	}

article h2 {
	color: $textmain;
	text-align: left;
	margin-top: $margin2;
}

.read h2  {
	@include breakpoint(teen-up) { 
		margin-left: $ratio;
		color: $lighttext;
		text-transform: none;
		margin-right: $margin2;
		margin-top: $margin2*3;

	}
}


section h2, h2.subtitle {
	text-align: center;
	margin: 0 0 $margin2;
}

/*do i need this? */
.gridtext h2 {
	text-align: left;
	line-height: 1em;
}
.read h2.subtitle {
	font-size: 1.1em;
	@include breakpoint(teen-up) { 
		text-align: left;
		font-size: 1.2em;
		padding: 0 $margin2;
		margin-bottom: 3em;
		text-transform: uppercase;
		width: 100%;

	}
}

h2.subtitle {
	color: lighttext;
}

section h2 {
	margin-bottom: 0em;
}



h3 {
	font-size: 1.17em;
	margin: 0 0 .3em;
	text-transform: uppercase;
}

.read aside h3 {
	@include breakpoint(teen-up) { 
		
	}
}

.donate h3 {margin-top: .7em;}

h4 {
	font-size: 1em;
	margin: 1.33em 0;
}

h5 {
	font-size: 0.83em;
	margin: 1.67em 0;
}

h6 {
	font-size: 0.67em;
	margin: 2.33em 0;
}

/**
 * Address margins set differently in IE 6/7.
 */

p,
pre {
	margin: 0 0 .8em;
}

p {
	font-weight: 300;
	max-width: 40em;
	text-align: justify;
	font-size: 1em;
	/*
	@include breakpoint(big-baby-sleep) { 
		font-size: .7em;
	}
	*/
	@include breakpoint(adult) { 
		max-width: auto;
	}
}


.gridtext p {
	@include breakpoint(adult) { 
	  font-size: .8em;
		text-align: left;
	}
}

/*used on alumni-classes to reduce white space between intro paragraph and boxes*/
p.squeeze {
	margin-bottom: 0;
}

.read p {
	@include breakpoint(teen-up) { 
		margin-left: $ratio;
		font-size: 1em;
		margin-right: $margin3;
	}
}

.read aside p {
	@include breakpoint(teen-up) { 
		margin-left: 0;
	}
}


/**
 * Address styling not present in IE 7/8/9, Safari 5, and Chrome.
 */

abbr[title] {
	border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */

b,
strong, .run-in {
	font-weight: 500;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */

dfn {
	font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 6/7 normalization.
 */

hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}

/**
 * Address styling not present in IE 6/7/8/9.
 */

mark {
	background: #ff0;
	color: #000;
}



/**
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */

code,
kbd,
pre,
samp {
	font-family: monospace, serif;
	_font-family: 'courier new', monospace;
	font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

/**
 * Address CSS quotes not supported in IE 6/7.
 */

q {
	quotes: none;
}

/**
 * Address `quotes` property not supported in Safari 4.
 */

q:before,
q:after {
	content: '';
	content: none;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}


/*.summary {
	font-style:italic;
	font-weight: bold;
	font-size: .9em}*/



figcaption {
	font-size:.8em;
	font-weight: 500;
	text-align: justify;
	 @include breakpoint(big-baby-sleep) { 
		font-size: .5em;
	}
}

.read figcaption {
	@include breakpoint(teen-up) {
		width: $smallratio;
		float: left;
		clear: left;
		font-weight: normal;
		margin-left: $margin2;
		text-align: left;
		display: inline;
	}
}

.aside figcaption {
	@include breakpoint(teen-up) {
		margin-left: 0;
	}
}


aside {
	@include breakpoint(teen-up) {
		font-size:.8em; 
		p {
			text-align: left;
		}
	}
	@include breakpoint(adult) {
		p {
			font-size: .9em;
		}
	}
	
}

.title {
	color: #CCC;
	font-size: 1em;
	font-weight: 500;
	line-height: .5em;
	margin: 0;
	text-align: left;
	text-transform: none;
	@include flex-grow(1);
	@include breakpoint (teen-up) {
		color: #FFF;
		font-size: 2.2em;
		font-weight: 700;
		text-transform: uppercase;   
	}
	@include breakpoint (adult) {
		font-size: 2.8em;
	}
}
.title .part2 {
	color: #FFF;
	display: block;
	font-size: 1.6em;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.1em;
	@include breakpoint(teen-up) {
		display: inline;
		margin-left: .2em;
		font-size: 1em;
		line-height: 1em;
	}
}

.tagline {
	color: #CCC;
	font-weight: 500;
	font-size: .6em;
	text-transform: none;
	@include breakpoint(baby) {
		display: none;
	}
}

.content {
	@include breakpoint(adult) {
		font-size: 1.3em;
	}
}

@import "typography-quote";

/* End of Typography */