p.quote {
	display: none;
}


blockquote{
	line-height:1.2em;
	margin: 1.5em 2em 0 2.2em;
	max-width: 25em;
	quotes: "\201C""\201D""\2018""\2019";
	text-align: justify;
	font-weight: 500;
	@include breakpoint(big-baby-sleep) { 
    margin-left: 20%;
    font-size: .7em;
  }


}
blockquote:before{
	content: '\201C'; 
	font-size:2.75em;
	text-indent:-.5em;
	margin-top:.1em;
	float:left;
	opacity:.3;
	}

cite{
	display:block;
	text-transform:uppercase;
	letter-spacing:.1em;
	font-weight:700;
	font-style:normal;
	font-size:.7em;
	margin: .4rem 2.2rem+$margin2 $margin2+$margin2;
	font-family: "franklin-gothic-urw-cond", "franklin-gothic-urw", verdana, sans-serif;
	@include breakpoint(big-baby-sleep) { 
    margin-left: 20%;
    font-size: .5em;
  }	
}


cite:before{
	content:"\2014";
	float:left;
	opacity:.3;
	}

.read blockquote{
	@include breakpoint(teen-up) {
	clear: right;
	max-width: 75%;
	font-size: 1.2em;
	color: $lighttext;
	}
}
