figcaption, 
.field-name-field-caption /*drupal lead image*/,
.field-name-field-image-caption /*drupal media caption*/{
	font-size:.8em;
	font-weight: 500;
	/*text-align: justify;*/
	 @include breakpoint(big-baby-sleep) { 
		font-size: .5em;
	}
}

.read, 
.bleed .content, /*imodules*/
.layout-full-read, .layout-read {
	figcaption, 
	.field-name-field-caption /*drupal lead image*/,
	.field-name-field-image-caption /*drupal media caption*/ {
		@include breakpoint(teen-up) {
			width: $smallratio;
			float: left;
			clear: left;
			font-weight: normal;
			margin-left: $margin4;
			text-align: left;
			display: inline;
		}
	}
	/*add right margin/gutter on figcaption fullimg and imgright with sidebar*/
	@include breakpoint(teen-up) {
		.fullimg,
		.media-fullimg, /*drupal media*/,
		.field-name-field-media /*drupal lead image*/, 
		.imgright,
		.media-imgright /*drupal media*/
		 {
			figcaption, 
			.field-name-field-caption /*drupal lead image*/,
			.field-name-field-image-caption /*drupal media caption*/ {
			margin-right: $margin2;
			}
		}
	}	
}
/*turn off for .full, gutters are set elsewhere*/
.layout-full, 
.withsidebar .fullimg,
.withsidebar .imgright,
.bleed .layout-sidebar .fullimg,
.bleed .layout-sidebar .imgright
{
	figcaption, /*see drupal conditional*/
	.field-name-field-caption /*drupal lead image*/,
	.field-name-field-image-caption /*drupal media caption*/{	
		margin-right: 0;
	}
}


.read, 
.bleed .content, /*imodules*/
.layout-full-read, .layout-read {
	.aside,
	.media-aside /*drupal media*/ {
		figcaption,
		.field-name-field-caption /*drupal lead image*/,
		.field-name-field-image-caption /*drupal media caption*/ {
			@include breakpoint(teen-up) {
				margin-left: 0;
			}
		}
	}
}
@if $drupal /*see layout-full figcaption*/{
	.layout-full-read {
		.field-name-field-caption /*drupal lead image*/,
		.field-name-field-image-caption /*drupal media caption*/  {	
			margin-right: 0;
		}
	}
	/*caption for aside should be full width*/
	.media-aside .field-name-field-image-caption /*drupal media caption*/{
		width: 100%;
	}
}

.symmetry, 
.media-symmetry /*drupal media*/ {
	figcaption, 
	.field-name-field-caption /*drupal lead image*/,
	.field-name-field-image-caption /*drupal media caption*/ {
		width: auto;
		margin-left: 0;
		margin-right: 0;
	}
}
/* this was breaking the figcaption in drupal
.aside figcaption {
	@include breakpoint(teen-up) {
		margin-left: 0;
	}
}
*/

aside, #block-views-aside-block, .aside {
	@include breakpoint(teen-up) {
		font-size:.8em; 
		p {
			text-align: left;
		}
	}
	@include breakpoint(adult) {
		p {
			font-size: .9em;
		}
	}
	
}
