/* layout */

/* Main-Sidebar Ratio */
	$ratio: 31%;
	$smallratio: 25%;
	$margin: .9em;
	$pagemargin: 3%;
	$margin2: .9rem;
	$margin3: $margin * 2;



/* colors */
	/*header*/
	/* it was: $color1: #d3d8d4; */
	$color1: #333;
	/*red line, separator*/
	$color2: #ec2027;
	
	$textmain: black;
	$lighttext: lighten($textmain,30%);
	$color3: #003399; /*blue link text */
	$color4: lighten($color3, 55) /*lighter link text for dark bg */



