$ie8: false !default; 
$alumni: false !default; 
$drupal: false !default; 

/* layout */

/* Main-Sidebar Ratio */
	$ratio: 34%;
	$smallratio: 28%;
	$margin: .9em;
	$pagemargin: 3%;
	$margin2: .9rem;
	@if $ie8 {
    $margin2: 15px;
  }
	$margin3: $margin * 2;
	$margin4: $margin2 * 2;
	$margin5: $margin2*1.5;



/* colors */
	/*header*/
	/* it was: $color1: #d3d8d4; */
	$color1: #333;
	/*red line, separator*/
	$color2: #ec2027;
	
	$textmain: black;
	$lighttext: lighten($textmain,30%);
	$color3: #003399; /*blue link text */
	$color4: lighten($color3, 55); /*lighter link text for dark bg */
	$colorfacebook: rgb(59, 89, 152);

$navwidth: 79%;
$extrawidth: 99% - $navwidth;



