@charset "utf-8";
/* CSS Document */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.grid {
  background: white;
  margin: 0;
}
.grid:after {
  /* Or @extend clearfix */
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
  padding-right: 12px;
}
.grid [class*='col-']:last-of-type {
  padding-right: 0;
}

.col-2-3 {
  width: 66.66%;
  display: block;
}

.col-1-3 {
  width: 33.33%;
  display: block;
}

.col-1-2 {
  width: 50%;
}

.col-3-4 {
  width: 75%;
}

.col-1-4 {
  width: 50%;
  /*responsive at break, change to 50%*/
}
.col-1-4 img {
  width: 100%;
}

.col-1-4:nth-of-type(even) {
  padding-right: 0;
}

.col-1-4:nth-of-type(odd) {
  clear: left; display:none;
}

.col-5-8 {
  width: 62.5%;
}

.col-2-8 {
	 width: 25%;}

/*only need in two column width*/
.col-1-8 {
  width: 12.5%;
}

.module {
  padding: 0;
  min-width: 25px;
  min-height: 25px;
  overflow: hidden;
}

/* Opt-in outside padding */
.grid-pad {
  padding: 0;
}
.grid-pad [class*='col-']:last-of-type {
  padding-right: 0;
}

body {
  padding: 0px 10px 70px;
}

h1, h2 {
  text-transform: uppercase;
  margin-top: 0px;
}

h2 {
  text-align: center;
  
}

.header {
  font-size: .5em;
  background: #d3d8d4;
  margin-bottom: 15px;
  padding-top: 3px;
}

.button {
  text-align: center;
  text-transform: uppercase;
  padding: 0px;
  margin: 2px 5px 5px 0px;
  font-size:.9em;
}

#menu {
 /* background: rgba(0, 0, 0, 0.5);*/
  text-align:center;
  margin: 2px 4px 0px 5px
}

#rpilogo {
  width: 100%;
}

#donate {
  background: #ec2027;
  margin-left:4px;
}

#donate:hover {
  background: rgba(255, 0, 0, 0.5);
}

.footer {
  text-align: center;
  font-size: .6em;
}
.footer img {
  width: 100%;
}

.title {
	margin-top:.7em;
	text-align:center;
	}

/*sidr*/
#sidr {display: none}
#menuicon {width:100%;}
