@charset "utf-8";
/* CSS Document */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.grid {
  background: white;
  margin: 0;
}
.grid:after {
  /* Or @extend clearfix */
  content: "";
  display: table;
  clear: both;
}

.collapsefix {width:100%; height:1px;}

[class*='col-'] {
  float: left;
  padding-right: .9em;
}


.grid [class*='col-']:last-of-type {
  padding-right: 0;
}

.col-2-3 {
  width: 66.66%;
  display: block;
}

.col-1-3 {
  width: 33.33%;
  display: block;
}

.col-1-2 {
  width: 50%;
}

.col-3-4 {
  width: 75%;
}

.col-1-4 {
  width: 50%;
  
  /*responsive at break, change to 50%*/
}
.col-1-4 img {
  width: 100%;
}

col-1-4:nth-of-type(even) {
	clear:left;
}

.col-1-4:nth-of-type(even) {
  padding-right: 0;
}


.col-5-8 {
  width: 62.5%;
}

.col-2-8 {
	 width: 25%;}

/*only need in two column width*/
.col-1-8 {
  width: 12.5%;
}

.module {
  padding: 0;
  min-width: 25px;
  min-height: 25px;
  overflow: hidden;
}

/* Opt-in outside padding */
.grid-pad {
  padding: 0;
}

.header {
	padding: .7em .7em .3em;
}

.header, .bottomlinks {
border-style: none;
border-bottom-style:solid;
border-bottom-width:thin;
border-bottom-color:#ec2027;
}

.content {
 margin: 0px .7em;
}
.grid-pad [class*='col-']:last-of-type {
  padding-right: 0;
}

body {
  padding: 0px 0px 4em;
}

h1, h2 {
  text-transform: uppercase;
  margin-top: 0px;
}

h2 {
  text-align: center;
  
}

.header {
  background: #d3d8d4;
  padding-top: .3em;
}



.button {
  text-align: center;
  text-transform: uppercase;
  padding: 0px;
  margin: .2em .7em .7em 0em;
  font-size:.9em;
}

#menu {
 /* background: rgba(0, 0, 0, 0.5);*/
  text-align:center;
  margin: 2px 4px 0px 5px
}

#rpilogo {
  width: 100%;
}

#donate {
  margin-left:.7em;
  color: white;
 	width:80%;
	float:right;
	background: -moz-linear-gradient(
		top,
		#d91f28 0%,
		#de2831 29%,
		#94151b);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#d91f28),
		color-stop(0.49, #de2831),
		to(#94151b));
	-moz-border-radius: .7em;
	-webkit-border-radius: .7em;
	border-radius: 1em;
	border: 1px solid #d91f28;
	-moz-box-shadow:
		3px 3px 3px rgba(000,000,000,0.5),
		inset -14px -12px 4px rgba(247,054,064,0);
	-webkit-box-shadow:
		3px 3px 3px rgba(000,000,000,0.5),
		inset -14px -12px 4px rgba(247,054,064,0);
	box-shadow:
		3px 3px 3px rgba(000,000,000,0.5),
		inset -14px -12px 4px rgba(247,054,064,0);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0),
		0px 1px 0px rgba(255,255,255,0);
	font-size:.4em;
}


.footer {
  text-align: center;
  font-size: .6em;
}
.footer img {
  width: 100%;
}

.title {
	margin-top:.7em;
	text-align:center;
	padding:0px;
	font-size: .48em;
	}

a {text-decoration: none}


#menuicon {width:100%;}


/*sidemenu*/
#sidemenu {
	width: 100%;
	height:100%;
	position:absolute;
	position:fixed;
	display: block;
	top:0px;
  left:0px;
	background:#333;
	color:#fff;
  padding:3%;
  text-transform:uppercase;
  -webkit-box-shadow:inset 0 0 1em .2em #222;
   -webkit-transform:translate(-105%);
   z-index:999

  
}

#sidemenu ul {
  text-align: center;
  list-style-type:none;
  padding-left: 0px;
}

#sidemenu li {
  padding: .4em;
}

#sidemenu a {
color: white;
display:inline-block;
width:100%;
}

body.menu-on #sidemenu {
 	-webkit-transform:translate(0%);
 }




body.menu-on .wrapper {
  	opacity: 0
}



/*candy*/

 *:hover, *:focus, div{-moz-transition:background-color 0.2s linear,border-color 0.2s linear,box-shadow .5s linear,color 0.2s linear,opacity 0.2s linear,text-shadow 0.2s linear,-moz-transform 0.2s linear; -webkit-transition:background-color 0.2s linear,border-color 0.2s linear,-webkit-box-shadow 0.5s linear,color 0.2s linear,opacity 0.2s linear,text-shadow 0.2s linear,-webkit-transform 0.2s linear; -o-transition:background-color 0.2s linear,border-color 0.2s linear,-o-box-shadow 0.5s linear,box-shadow 0.2s linear,color 0.2s linear,opacity 0.2s linear,text-shadow 0.2s linear,-o-transform 0.2s linear; transition:background-color 0.2s linear,border-color 0.2s linear,box-shadow .5s linear,color 0.8s linear,opacity 0.2s linear,text-shadow 0.2s linear,transform 0.2s linear}