/*add space beneath the breadcrumbs*/
#rg_gfid_2096_pnlBreadcrumbs {
 @include breakpoint(teen-up) {
  margin-bottom: .9em;
 }
}


/*reduce the label size and color*/
.imod_fieldWrapper .imod_fieldLabel, 
/*style designations header*/ #ContentMiddle .idbmsCampaignDesignationHeader, #ContentMiddle .idbmsCampaignPaymentOptionsHeader {
 font-size: .9em;
 color: #666;
 @include breakpoint(teen-up) {
  font-size: .8em;
 }
}

/*make designation choices black to contrast with label color*/
label, .checkbox-header, .radio-header {
 color: black;
}
/*reduce events header font-size, should be a step bigger than label*/
.EventsHeader {
 @include breakpoint(teen-up) {
  font-size: .8em;
 }
}
 /*reduce space between other designations and designation*/
 #rg_gfid_2096_tblOuter_ctl00_ctl00_ctl00_ctl00_ctl00_tblGrouping_2097_ctl00_tr_23370_ctl00_ctl00_ctl00_fc_23370_rblAdvancedDesignations {
  padding-top: 0;
 }