/* Vendor Dependencies */
@import "bourbon";

/* Authored Dependencies */
@import "variables";
@import "mixin";
@import "media-queries";

html, body {
 background: white;
 display: inline;
}

button, input, select, textarea {
  @include breakpoint(baby) {
    max-width: 20em;
  }
}
