/*separate style sheet, just for responsive background overrites*/
/* Vendor Dependencies */
/* Authored Dependencies */
/* layout */
/* Main-Sidebar Ratio */
/* colors */
/*header*/
/* it was: $color1: #d3d8d4; */
/*red line, separator*/
/*blue link text */
/*lighter link text for dark bg */
/*if ie8, combine teen-up and adult breakpoints */
/*@import "imodround1";
@import "imodround3";*/
/*provide padding for iframe on layoutfull in iModules and static*/
/* line 432, _general-layout.scss */
/* line 3, _imodround4.scss */
.layout-full .maincontent .full-section {
  padding-right: 0.9em; }

/* line 438, _general-layout.scss */
/* line 7, _imodround4.scss */
.bleed .maincontent .full-section, .bleed .maincontent .col-article, .read .maincontent .full-section, .read .maincontent .col-article {
  padding-right: 0; }

/*minimal border on iframe*/
/* line 58, _embedded-content.scss */
/* line 12, _imodround4.scss */
#content .iframe-portal iframe, .content .iframe-portal iframe {
  padding-right: 0;
  width: 100%;
  border: none; }

/* small left image*/
/*line 160, _general-layout.scss */
/* line 3, _imodround5.scss */
.content figure.small-left {
  padding-right: 0.9em;
  padding-right: 0.9rem;
  /*if change this, change .content in general-layout.scss*/
  /*on larger screen, additional margin */
  /*tablet and up*/
  /*screen*/ }

@media only screen and (min-width: 749px) {
  /* line 160, _general-layout.scss */
  /* line 12, _imodround5.scss */
  .content figure.small-left {
    padding-right: 1.8em;
    padding-right: 1.8rem;
    /*if change this, change .content in general-layout.scss*/ } }
@media only screen and (min-width: 901px) {
  /* line 160, _general-layout.scss */
  /* line 19, _imodround5.scss */
  .content figure.small-left {
    padding-right: 1.8em;
    padding-right: 1.8rem;
    /*if change this, change .content in general-layout.scss*/ } }
/* line 503, _figures.scss */
/* line 25, _imodround5.scss */
figure.small-left {
  width: 40%;
  max-width: 265px;
  float: left;
  clear: left;
  margin-bottom: 0px;
  /*image padding set in general layout*/ }

/* line 509, _figures.scss */
/* line 33, _imodround5.scss */
figure.small-left img {
  padding-right: 0; }

/*tablet and up*/
@media only screen and (min-width: 749px) {
  /* line 530, _figures.scss */
  /* line 39, _imodround5.scss */
  .read .layout-full .maincontent figure.small-left,
  .layout-full-read #content .layout-full .maincontent figure.small-left,
  .layout-read #content .layout-full .maincontent figure.small-left,
  .bleed .layout-full .maincontent figure.small-left {
    margin-left: 34%; } }
/*in iModules giving form, the label comes before the checkbox. Move label to the right of checkbox*/
/* line 69, _forms.scss */
/* line 47, _imodround5.scss */
.imod-checkbox .imod_fieldLabel {
  position: absolute;
  left: 1em; }

/*no bold on checkbox label*/
/* line 74, _forms.scss */
/* line 53, _imodround5.scss */
.imod-checkbox .imod_fieldLabel span {
  font-weight: 300; }

/*breadcrumbs should not float*/
/* line 78, _forms.scss */
/* line 58, _imodround5.scss */
div[id$="_pnlBreadcrumbs"] {
  clear: left; }

/*optimize spacing for many lists in a row. Used on News page of Intranet. http://alumni.rpi.edu/s/1225/2col.aspx?sid=1225&gid=1&pgid=436 */
/* line 3, _imodround6.scss */
.content .tightlist p {
  margin-bottom: .4em;
  /*reduce space below paragraph so that list is closer*/ }
/* line 6, _imodround6.scss */
.content .tightlist ul {
  margin-top: 0em;
  /*reduce space above list so that header is closer*/
  margin-bottom: 1.5em;
  /*increase space below to distuingish from the header of the next list*/
  font-size: .8em;
  /*reduce font-size so that it is smaller than paragraph header*/ }
