/*separate style sheet, just for responsive background overrites*/
/* Vendor Dependencies */
/* Authored Dependencies */
/* layout */
/* Main-Sidebar Ratio */
/* colors */
/*header*/
/* it was: $color1: #d3d8d4; */
/*red line, separator*/
/*blue link text */
/*lighter link text for dark bg */
/*if ie8, combine teen-up and adult breakpoints */
/*responsive images for full width graphics*/
/* -------------
1. wrappers 
----------------*/
.footer-image .footer-image-wrapper,
.footer-logo .footer-logo-wrapper,
.responsive-background .alumni-branded-banner-wrapper,
.responsive-background .giving-branded-banner-wrapper {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  font: 0/0 serif;
  text-shadow: none;
  color: transparent; }

/* -------------
1-. wrappers: footer image
----------------*/
/*aerial image of campus, full width*/
.footer-image .footer-image-wrapper {
  background: white;
  /*set background to white so image bleeds into background*/
  background-size: 100%;
  background-position: 50% -8%;
  background-repeat: no-repeat; }

.footer-image .footer-image-wrapper {
  /*tablet and up*/ }
  @media only screen and (min-width: 749px) {
    .footer-image .footer-image-wrapper {
      background-image: url("../img/footersprite-s30645a0337.png"); } }

/* -------------
1-. wrappers: Alumni Banner
----------------*/
.responsive-background {
  width: 100%;
  margin-top: 0.9rem;
  margin-bottom: 0.9rem;
  /*tablet and up*/ }
  @media only screen and (min-width: 749px) {
    .responsive-background {
      margin-bottom: 1.8rem;
      margin-top: 0; } }

/*alumni homepage, responsive banner. changes based on campaign*/
.responsive-background .alumni-branded-banner-wrapper,
.responsive-background .giving-branded-banner-wrapper {
  background-size: 100%;
  background-position: 50% 50%;
  /*center image in case the wrong aspect ratio*/
  background-repeat: no-repeat; }

/* -------------
1-. wrappers: footer logo
----------------*/
/*rensselaer logo*/
.footer-logo {
  max-width: 500px;
  /*full width on small devices, then hold at 500px*/
  margin: 0 auto;
  /*center image*/
  padding: 0.9rem 1.8rem;
  /*screen*/ }
  @media only screen and (min-width: 901px) {
    .footer-logo {
      margin-top: 1.8em; } }

.footer-logo .footer-logo-wrapper {
  background-size: 100%;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-image: url("../img/seal-text-white.png");
  /*tablet and up*/ }
  @media only screen and (min-width: 749px) {
    .footer-logo .footer-logo-wrapper {
      background-size: 190%;
      /*blow up image to fill space*/
      background-image: url("../img/footersprite-s30645a0337.png");
      /*use sprite*/ } }

/* -------------
1. inner 
----------------*/
.footer-image-inner, .footer-logo-inner, .alumni-branded-banner-inner, .giving-branded-banner-inner {
  display: block;
  height: 0; }

/* -------------
1-. inner: footer image
----------------*/
.footer-image-inner {
  padding-top: 22%;
  /* height/width of image */ }

/* Smartphones, except large phone landscape ----------- */
@media only screen and (max-width: 748px) {
  /*on small screen, do not download sprite or aerial image*/
  .footer-image, .footer-image .footer-image-wrapper, .footer-image-inner {
    display: none; }

  .footer-image .footer-image-wrapper {
    background-image: none; } }
/* -------------
1-. inner: alumni banner
----------------*/
/* -------------
1-. inner: giving banner
----------------*/
/* -------------
1-. inner: footer logo
----------------*/
.footer-logo-inner {
  padding-top: 27%;
  /* height/width of image */
  /*tablet-all*/
  /*screen*/ }
  @media only screen and (min-width: 749px) and (max-width: 900px) {
    .footer-logo-inner {
      padding-top: 26%;
      /* height/width of image */ } }
  @media only screen and (min-width: 901px) {
    .footer-logo-inner {
      padding-top: 20%;
      /* height/width of image */ } }
