.responsive-background .alumni-branded-banner-wrapper {
  background-image: url("http://lorempixel.com/707/760/technics/4"); /*set phone image */
}
/*tablet and up*/
@media only screen and (min-width: 708px) {
  .responsive-background .alumni-branded-banner-wrapper {
    background-image: url("http://lorempixel.com/1460/357/technics/4"); /*set tablet and up image*/
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://lorempixel.com/1460/357/technics/4', sizingMethod='scale'); /*set ie8 image*/
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://lorempixel.com/1460/357/technics/4', sizingMethod='scale')"; /*set ie8 image*/
  } 
}

.alumni-branded-banner-inner {
  padding-top: 108%; /* height/width of phone image: currently set to 707 wide x 760 high  ; */
}
/*tablet and up*/ 
@media only screen and (min-width: 708px) {
  .alumni-branded-banner-inner {
    padding-top: 24%; /* height/width of tablet image: currently set to 1460 wide x 357 high; */ 
  } 
}