/*the social media follow buttons are created through a 3rd party*/
.at4-follow {
  /*this adjusts those buttons and moves them to the left */
  right: 5.1rem;
  /*buttons scroll with page */
  position: absolute;
}

/*hides a carot which allows the social media buttons to be collapsed */
.at4-follow-close-control, .at4-show {
  /*display: none!important;*/
}


/*follow and share buttons */
#at4m-dock {
	max-width: 354px; 
	background: rgba(59, 89, 152, .8);
	right: 0;
	left: auto; /*overrides script */
}

/*individual follow and share buttons*/
.at4m-dock a:link, .at4m-dock a:visited {
	max-width: 118px;
	color: white;
}

/*hide borders between buttons*/
.at4m-dock.at4-ma2 a:first-child, .at4m-dock-toggle a {
	border: none;
}



.at4m-dock-toggle {
	max-width: 118px;
}

/*
.at4-show

max-width: 354px;
right: 0;
left: auto;
position: relative;
margin-left: auto;


at4m-menu ats-transparent animated slideInUp at4-show


hide borders between buttons*/