/* .grid {
list-style: none;
padding: 0;
}

.grid li {
display: inline-block;
width: 33%;
margin: 0;
padding: 5px;
text-align: left;
position: relative;
}

*/
/******************* HOVRER IMAGE **************/

/* Image Box Style */

.gridhover .col-section {
  width: 50%;
  height: 100%;
}


@include breakpoint(adult) {
  .gridhover .col-section:nth-of-type(3n + 1) {
    clear: none;
  }
}

.gridhover .box {
  cursor: pointer;
  min-height: 15rem;
  float: left;
  position: relative;
  overflow: hidden;
  width: 100%;
  background: red;
}
.gridhover .box img {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out; 
  transition: all 300ms ease-out;
}

/* Caption Common Style */
.gridhover .box .caption {
  background: rgba(54, 51, 51, .5);
  position: absolute;
  color: #fff;
  z-index: 100;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out; 
    transition: all 300ms ease-out;
  top: 0;
  height: 15em;
  h2 {
    color: white;
  }
}

/** Caption 4: Slide **/
.gridhover .box .slide-caption {
  text-align: left;
  padding: 15px;
  -webkit-transform: translateY(57%);
}

/** Slide Caption :hover Behaviour **/
.gridhover .box:hover .slide-caption {
  background: rgba(54, 51, 51, .9);

  -webkit-transform: translateY(30%);
  opacity: 1;
  
}

/*
.gridhover .box:hover img#image-4 {
  -moz-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: 1;
}
*/

